<section id="footer">
    <div class="thanking">
        <h1>En collaboration</h1>
        <h2>Je remercie les Youtubers qui m'ont permis de réaliser ce portfolio!</h2>
        <p>footer works!</p>
        
    </div>
    <!-- footer starting from here........ -->
    <div class="footer" id="footer">
        <h1>Footer</h1>
        
        <!-- container containing all 3 columns............ -->
        <div class="col0">
            <div class="col00"></div>
                <!-- 1 first column starting from here........ -->
                <div class="col1">
                    <div ngClass="c1">
                        <h3><fa-icon [icon]="user"></fa-icon>&nbsp; Contact Me</h3>
                        <span><fa-icon [icon]="mail"></fa-icon>&nbsp; Email : Tshilolop@gmail.com </span>
                        <span><fa-icon [icon]="phone1"></fa-icon>&nbsp; Phone : +32 488 33 75 64</span>
                    </div>
                    <br>
        
                    <div ngClass="c2">
                        <a href="https://www.linkedin.com/in/pierre-marie-tshilolo"><div class="linkedin logo">
                            <span>in</span>
                        </div>
                        </a> 

                        <div class="gmail logo">
                            <a href="https://gmail.com/"><img src="../../assets/pictures/icons8-gmail-48.png" alt="Gmail"></a>
                        </div>

                        <a href="https://www.facebook.com/"><div class="fb logo"></div></a>
                    </div>
                </div>
            
            <!-- 2 second column starting from here........ -->    
                <div class="col2">
                    <h3>[icon] Footer</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique mollitia rem ex voluptatem amet quos iure deleniti, facilis sit rerum et possimus praesentium eaque numquam atque, ullam explicabo consequatur molestiae.</p>
                </div>

            <!-- 3 third column starting from here........ -->
                <div class="col3">
                    <h3>[icon] Reference & Subscribe</h3>
                    <div class="divrow">
                        <a href="https://www.youtube.com/@OnlineTutorialsYT">
                            <div class="youtube"></div>
                            <span> Online Tutorials </span>
                        </a>
                    </div>

                    <div class="divrow">
                        <a href="https://www.youtube.com/@TechieCoder">
                            <div class="youtube"></div>
                            <span>Techie Coder</span>
                        </a>
                    </div>

                    <div class="divrow">
                        <a href="https://www.youtube.com/@KevinPowell">
                            <div class="youtube"></div>
                            <span>Kevin Powell</span>
                        </a>
                    </div>
                </div>
        </div>
        <div class="copyright">
    <p>Copyright © 2023 - <a href="https://github.com/PierreMohen">Pierre-Marie DSP</a></p>
</div>
    </div>
</section>