<section id="footer">
    <div ngClass="thanking">
        <h1>Thank you </h1>
        <h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime aliquid.</h2>
        <p>footer works!</p>
        
    </div>
    <!-- footer starting from here........ -->
    <div ngClass="footer" id="footer">
        <h1>Footer</h1>
        
        <!-- container containing all 3 columns............ -->
        <div ngClass="col0">
                <div ngClass="col00"></div>
                <!-- 1 first column starting from here........ -->
                <div ngClass="col1">
                    <div ngClass="c1">
                        <h3> Contact Me</h3>
                        <span><fa-icon [icon]="phone1"></fa-icon>&nbsp; Phone : +32 488 33 75 64</span>
                        <span><fa-icon [icon]="mail"></fa-icon>&nbsp; Email : Tshilolop@gmail.com </span>
                    </div>
                    <br>
        
                    <div ngClass="c2">
                        <a href="https://www.linkedin.com/in/pierre-marie-tshilolo"><div ngClass="linkedin logo">
                            <span>in</span>
                        </div>
                        </a> 

                        <div ngClass="gmail logo">
                            <a href="https://gmail.com/"><img src="../../assets/pictures/icons8-gmail-48.png" alt="Gmail"></a>
                        </div>

                        <a href="https://www.facebook.com/"><div ngClass="fb logo"></div></a>
                    </div>
                </div>
            
            <!-- 2 second column starting from here........ -->    
                <div ngClass="col2">
                    <h3>[icon] Credit</h3>
                    <span>Video : https://www.bilibili.com/video/BV1dV411y72g/</span>
                    <span>Song :  Introduction (Extrospection) by Cookiz</span>
                </div>

            <!-- 3 third column starting from here........ -->
                <div ngClass="col3">
                    <h3>[icon] Reference & Subscribe</h3>
                    <div ngClass="divrow">
                        <a href="https://www.youtube.com/@OnlineTutorialsYT">
                            <div ngClass="youtube"></div>
                            <span> Online Tutorials </span>
                        </a>
                    </div>

                    <div ngClass="divrow">
                        <a href="https://www.youtube.com/@TechieCoder">
                            <div ngClass="youtube"></div>
                            <span>Techie Coder</span>
                        </a>
                    </div>

                    <div ngClass="divrow">
                        <a href="https://www.youtube.com/@KevinPowell">
                            <div ngClass="youtube"></div>
                            <span>Kevin Powell</span>
                        </a>
                    </div>
                </div>
        </div>
        <div ngClass="copyright">
    <p>Started 22-May-2023 - <a href="https://github.com/PierreMohen">Pierre-Marie DSP</a></p>
</div>
    </div>
</section>