<section>
    <div class="thanking">
        <h1>En collaboration</h1>
        <h2>Je remercie les Youtubers qui m'ont permis de réaliser ce portfolio!</h2>
        <p>footer works!</p>
    </div>
    <div class="footer" id="footer">
        <h1><fa-icon [icon]="icon"></fa-icon>&nbsp;&nbsp;Contact Me</h1>
        <div class="col0">
            <div class="col1">
                <h3>[icon] Footer</h3>
                <span><strong>[icon] Email</strong> : Tshilolop@gmail.com</span>
                <span><strong>[icon] Phone</strong> : +32 488 33 75 64</span>
                <span><strong>[icon] Linkedin</strong></span>
                <span><strong>[icon] Gmail</strong></span>
                <span><strong>[icon] Insta</strong></span>
            </div>
            <div class="col2">
                <h3>[icon] Footer</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique mollitia rem ex voluptatem amet quos iure deleniti, facilis sit rerum et possimus praesentium eaque numquam atque, ullam explicabo consequatur molestiae.</p>
            </div>
            <div class="col3">
                <h3>[icon] Reference & Subscribe</h3>
                <span><a href="https://www.youtube.com/@OnlineTutorialsYT">[Youtube icon] Online Tutorials</a></span>
                <span><a href="https://www.youtube.com/@TechieCoder">[Youtube icon] Techie Coder</a></span>
                <span><a href="https://www.youtube.com/@KevinPowell">[Youtube icon] Kevin Powell</a></span>
            </div>
        </div>
        <div class="copyright">
    <p>Copyright © 2023 - <a href="https://github.com/PierreMohen">Pierre-Marie DSP</a></p>
</div>
    </div>
</section>