<section>
    <div class="container1" id="skills">
        <h2 class="heading1">Technical Skills</h2>
        
        <div class="technical-bars">
            <div class="bar">
                
                <div class="info">
                    <span>html</span>
                </div>

                <div class="progress-line html">
                    <span></span>
                </div>
            
            </div>
            
            <div class="bar">
                
                <div class="info">
                    <span>CSS</span>
                </div>

                <div class="progress-line css">
                    <span></span>
                </div>
            
            </div>
            
            <div class="bar">
                
                <div class="info">
                    <span>Javascript</span>
                </div>

                <div class="progress-line js">
                    <span></span>
                </div>
            
            </div>
            
            <div class="bar">
                
                <div class="info">
                    <span>Angular</span>
                </div>

                <div class="progress-line angular">
                    <span></span>
                </div>
            
            </div>
        </div>

    </div> 

    <div class="container1">
    
        <h1 class="heading1">Professional skills</h1>
        <div class="radial-bars">
            <div class="radial-bar">
                
                <svg x="0px" y="0px" viewBox="0 0 200 200">
                    <circle class="progress-bar" cx="100" cy="100" r="80"/>
                    <circle class="path path-1" cx="100" cy="100" r="80"/>
                </svg>
                
                <div class="percentage">90%</div>
                <div class="text">Creativity</div>
            </div>
        
        </div>
        
        <div class="radial-bar">
            
            <svg x="0px" y="0px" viewBox="0 0 200 200">
                <circle class="progress-bar" cx="100" cy="100" r="80"/>
                <circle class="path path-1" cx="100" cy="100" r="80"/>
            </svg>
            
            <div class="percentage">65%</div>
            <div class="text">Communication</div>
        
        </div>
        
        <div class="radial-bar">
            
            <svg x="0px" y="0px" viewBox="0 0 200 200">
                <circle class="progress-bar" cx="100" cy="100" r="80"/>
                <circle class="path path-1" cx="100" cy="100" r="80"/>
            </svg>
    
            <div class="percentage">70%</div>
            <div class="text">Problem Solving</div>
        
        </div>
    
        <div class="radial-bar">
            
            <svg x="0px" y="0px" viewBox="0 0 200 200">
                <circle class="progress-bar" cx="100" cy="100" r="80"/>
                <circle class="path path-1" cx="100" cy="100" r="80"/>
            </svg>
    
            <div class="percentage">80%</div>
            <div class="text">Teamwork</div>
        
        </div>
        
        
    </div>
    
        <!--  <div class="pic">
            </div>
            <div class="bgpic"></div> -->
            <!-- </div>
        </div> -->
<!-- 
        <div class="item item3">
            <table>
                <tr>
                    <th colspan="3">Technical Skills</th>
                </tr>
                
                <tr>
                    <td>html</td>
                    <td><div class="progressbar">................................................</div></td>
                    <td><div class="percentage">70 %</div></td>
                </tr>
                
                <tr>
                    <td>SCSS</td>
                    <td><div class="progressbar">................................................</div></td>
                    <td><div class="percentage">80 %</div></td>
                </tr>

                <tr>
                    <td>Adobe XD</td>
                    <td><div class="progressbar">................................................</div></td>
                    <td><div class="percentage">40 %</div></td>
                </tr>

                <tr>
                    <td>TypeScript</td>
                    <td><div class="progressbar">................................................</div></td>
                    <td><div class="percentage">30 %</div></td>
                </tr>

                <tr>
                    <td>Angular</td>
                    <td><div class="progressbar">................................................</div></td>
                    <td><div class="percentage">50 %</div></td>
                </tr>
                
                <tr>
                    <td>Photoshop PS</td>
                    <td><div class="progressbar">................................................</div></td>
                    <td><div class="percentage">30 %</div></td>
                </tr>
            </table>
        </div>
        <div class="item item4">item 4</div>
        
-->
    
</section>
