//Design background Shortcut------- 

$designcolor:rgba(18, 129, 255, 0.882);
$designblur: 10px;
$designborder-radius: 15px;
$opacity: 1;

section{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    
    box-sizing: border-box;
    
    top: 0%;
    left: 0%;
    
    margin: 0;
    padding: 0;
    
    // background: linear-gradient(-85deg,rgb(119, 128, 255) 20%,rgb(79, 51, 132),rgb(27, 2, 80));
    // background: linear-gradient(-0deg,rgb(119, 128, 255) 1%,rgb(79, 51, 132) ,rgb(27, 2, 80));
    // border: red 2px solid;
    opacity: $opacity;
    z-index: -200;

    

}

// *****************************************************clamp

.design{
    position: absolute;
    width: clamp(0%,40vw,600px);
    height: clamp(0%,85vh,600px);
    // height: 600px;

    top: 10%;
    left: 55%;

    margin: 0 auto;
    padding: 0;
    
    // background: lightblue;
    // backdrop-filter: blur(3px);

    // border:2px solid cornflowerblue;
    z-index: 20;
    animation: diamond-in-hesitate 5s ease-in-out ;
}

.triangle1{
    width: 30%;
    height: 20%;

    background: linear-gradient(-45deg,lightgreen ,cornflowerblue);

    clip-path: polygon(44% 0, 0 59%, 100% 100%);
    z-index: 25;
}

.triangle2{
    position: absolute;
    width: 50%;
    height: 30%;

    top: 0;
    left: 50px;

    background: linear-gradient(-45deg,lightgreen ,purple);
    // backdrop-filter: blur(100%);

    clip-path: polygon(44% 0, 0 59%, 100% 100%);
    transform: rotate(-40deg);

    opacity: 0.8;
    z-index: 30;
}

.triangle3{
    position: absolute;
    width: 40%;
    height: 28%;
    
    bottom: 0;
    right: 0;
    
    background: chocolate;
    
    clip-path: polygon(44% 0, 0 59%, 100% 100%);
    transform: rotate(-40deg);

    z-index: 31;
}

.triangle4{
    position: absolute;
    width: 25%;
    height: 18%;

    bottom: 0;
    right: 0;

    background: rgb(111, 210, 30);

    clip-path: polygon(44% 0, 0 59%, 100% 100%);

    opacity: 0.8;
    z-index: 32;
}

.triangle5{
    position: absolute;
    width: 25%;
    height: 18%;

    top: 0;
    right: 0%;

    background: rgb(30, 210, 177);
    clip-path: polygon(44% 0, 0 59%, 100% 100%);

    transform: rotate(5deg);
    z-index: 32;
}
.triangle6{
    position: absolute;
    width: 18%;
    height: 30%;

    bottom: 10%;
    left: 0;

    background: conic-gradient(at bottom,cornflowerblue,rgb(31, 180, 31));

    clip-path: polygon(44% 0, 0 59%, 100% 100%);
    transform: rotate(240deg);

    opacity: 0.8;
    z-index: 32;
}
.triangle7{
    position: absolute;
    width: 25%;
    height: 30%;

    top: 50%;
    left: 5%;

    background: rgb(210, 30, 30);

    clip-path: polygon(44% 0, 0 59%, 100% 100%);
    
    z-index: 31;
}
.triangle8{
    position: absolute;
    width: 25%;
    height: 30%;

    top: 70%;
    left: 30%;

    background: rgba(180, 30, 210, 0.552);
    // clip-path: polygon(44% 0, 0 59%, 100% 100%);
    clip-path: polygon(100% 16%, 0% 100%, 91% 65%);


    transform: rotate(100deg);
    z-index: 51;
}

.triangle9{
    position: absolute;
    width: 40%;
    height: 35%;

    top: 40%;
    left: 90%;

    background: rgb(42, 30, 210);
    clip-path: polygon(72% 55%, 0% 100%, 100% 100%);


    transform: rotate(100deg);
    z-index: 51;

}

.pic{
    position: absolute;
    width: 60%;
    height: 80%;

    box-sizing: border-box;

    top: 10%;
    left: 25%;
    
    // background:url('../../assets/pictures/IMG_20231126_141242453.jpg');
    background:url('../../assets/pictures/IMG_20231126_141242453.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    // transform: rotate(-33.6deg) skewX(30deg);

    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    // clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    // clip-path: polygon(0 0, 0% 100%, 40% 100%, 29% 0, 100% 0, 100% 34%, 0 30%, 70% 100%, 100% 66%);

    // transform: scale(1.5);

    z-index: 50;
}

.borderpic{
    position: absolute;
    width: 61%;
    height: 81%;

    box-sizing: border-box;
    
    top: 9.5%;
    left: 24.55%;

    background: rgb(183, 110, 0);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

    z-index: 49;
}

@keyframes diamond-in-hesitate {
    0% {
      clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
    }
    50% {
      clip-path: polygon(45% 50%, 50% 25%, 55% 50%, 50% 75%);
    }
    100% {
      clip-path: polygon(-50% 50%, 50% -50%, 150% 50%, 50% 150%);
    }
  }
  
  [transition-style="in:diamond:hesitate"] {
    animation: 1.5s cubic-bezier(.25, 1, .30, 1) diamond-in-hesitate both;
  }