section{
    position: relative;
    display:flex;
    width: 100%;
    height: 100vh;

    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    
    background: linear-gradient(120deg,#000000,#0056ab,#000000);
    box-shadow: 0px -6px 1rem rgba( #013162,1);
    z-index: 50;
}



.title{
    display: flex;
    width: 100%;
    height: 13%;

    justify-content: center;
    align-items: center;
    color: rgb(230, 231, 233);

    box-shadow: 0px 6px 1rem rgba( #013162,1);
    opacity: 1;
    z-index: 7;
    
}

.container{
    position: relative;
    display: flex;
    width: 100%;
    height: auto;

    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
    background-size: cover;
    background-position: center;
    border-radius: 45px;
    z-index: 6;

}

.container::before{
    content: "";
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    background-size: cover;
    background-position: center;
    filter: blur(2px);

    border-radius: 45px;
    z-index: 7;
}

    // ---------------box card-------------------

.box{
    position: relative;
    display: flex;
    width: 320px;
    height: 450px;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    top: 0;
    margin-inline: 2%;
    
    
    background:transparent;
    overflow: hidden;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);

    border: 2px solid #7807da;
    border-radius: 20px;
    transition: all 0.4s ease-out;
}

.box .poster{
    position: relative;
    width: 100%;
    height: 450px;
    
    top: 0;
    left: 0;
    
    overflow: hidden;
    z-index: 8;
}

.box .poster::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    
    bottom: -180px;
    background: linear-gradient(0deg,#0056ab 50%,transparent);
    transition: 0.5s;
    z-index: 10;
}

.box:hover .poster::before{
    bottom: 0px;
}

.box .poster img{

    width:105%;
    height: 105%;
    
    object-fit:cover;
    object-position:center;
    aspect-ratio: 1.25/1.9999;
    
    transition: 0.5s;

}

.box:hover .poster img{
    transform: translateY(-50px);
    filter: blur(5px);
}

.details{
    position: absolute;
    display: flex;
    width: 80%;
    height: 95%;
   
    flex-direction: column;
    
    bottom: -55%;
    left: 0;
    padding-inline: 10%;
    padding-top: 113%;
    padding-bottom: 0%;
    
    color: aliceblue;
    border-top: #000000 3px solid;
    transition: 0.5s;
    z-index: 11;
    
}

.title0{
    position: relative;
    display: flex;
    width: 100%;
    height: auto;

    justify-content: flex-start;
    align-items: center;
    

    top: 0;
    left: 0;
    
    
}

.title0 span{
    font-size: 26px;
    color: aliceblue;
    font-weight: 700;
}

.divh4{
    position: relative;
    display: flex;
    width: 96.5%;
    height: auto;

    top: 0;
    left: 0;

    padding: 2%;

    border-radius: 5px;
    background: #109148;
}

.details:hover{
    bottom: 0px;
}

.subtitle{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-inline: 2%;
    border: 2px solid aliceblue;
    border-radius: 5px;
}

.pics{
    position: relative;
    display: flex;
    width: 100%;
    height: auto;

    top: 5%;
    left: 0;

    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    
}


.pics ul{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;

    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    
    left: 0;
    top: 0;
    margin-top: 0%;
    padding:0;
    
} 

.pics ul li{
    position: relative;
    width: 55px;
    height: 55px;
    
    left: 0;

    list-style-type: none;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid aliceblue;
}

.pics ul li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:top;
}


// ..........Background Stars Animation.................

.scene {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;
    flex-direction: row;
    
    top: 0;
    left: 0;
    background: linear-gradient(#111425,#0056ab);
    background-attachment: fixed;
    overflow: hidden;
  }
  
  .scene i {
    position: absolute;
    
    background-color: white;
    border-radius: 50%;
    animation: animate linear infinite;
}

// ..........Background Shootingstars Animation.................

.shootingstar.active{
    position: absolute;
    width: 4px;
    height: 4px;

    top: 0%;
    left: 50%;

    background: white;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
    0 0 0 8px rgba(255, 255, 255, 0.1),
    0 0 20px rgba(255, 255, 255, 1);
    animation: animation 3s linear infinite;
}

.shootingstar::before{

    content: '';
    position: absolute;
    top: 50%;
    left: 150%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg,#fff,transparent);
}

// ----------------each shootingstars------------------------

.shootingstar:nth-child(1){

    top: 0;
    right: 0;
    left: initial;
    animation-delay: 0;
    animation-duration: 1s;
}

.shootingstar:nth-child(2){

    top: 0;
    right: 80px;
    left: initial;
    animation-delay: 0.2s;
    animation-duration: 3s;
}

.shootingstar:nth-child(3){

    top: 80px;
    right: 0px;
    left: initial;
    animation-delay: 0.4s;
    animation-duration: 2s;
}

.shootingstar:nth-child(4){

    top: 0px;
    right: 180px;
    left: initial;
    animation-delay: 0.6s;
    animation-duration: 1.5s;
}

.shootingstar:nth-child(5){

    top: 0px;
    right: 400px;
    left: initial;
    animation-delay: 0.8s;
    animation-duration: 2.5s;
}

.shootingstar:nth-child(6){

    top: 0px;
    right: 600px;
    left: initial;
    animation-delay: 1s;
    animation-duration: 3s;
}

.shootingstar:nth-child(7){

    top: 300px;
    right: 0px;
    left: initial;
    animation-delay: 1.2s;
    animation-duration: 1.75s;
}

.shootingstar:nth-child(8){

    top: 0px;
    right: 700px;
    left: initial;
    animation-delay: 1.4s;
    animation-duration: 1.25s;
}

.shootingstar:nth-child(9){

    top: 0px;
    right: 1000px;
    left: initial;
    animation-delay: 0.75s;
    animation-duration: 2.25s;
}

.shootingstar:nth-child(10){

    top: 0px;
    right: 450px;
    left: initial;
    animation-delay: 2.75s;
    animation-duration: 1.75s;
}


// ------------stars animation-------------
  
  @keyframes animate {
    0%{
        opacity: 0;
        transform: translateY(0);
    }
    10%,90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateY(-100px);
    }
    
  }

  
//   ------------shooting stars animation----------------

  @keyframes animation {
    0%{
        
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    
    }
    70%{

        opacity: 1;
        
    }
    100%{
        
        transform: rotate(315deg) translateX(-1000px);
        opacity: 0;

    }
    
  }