<section id="section1">
    <div [ngClass]="{'title':'true'}">
        <h2>Section 1. What about me ?</h2>
    </div>
    <div ngClass="scene">
        <span Class="shootingstar"[ngClass]="{'active': isHovered}"></span>
        <span Class="shootingstar"[ngClass]="{'active': isHovered}"></span>
        <span Class="shootingstar"[ngClass]="{'active': isHovered}"></span>
        <span Class="shootingstar"[ngClass]="{'active': isHovered}"></span>
        <span Class="shootingstar"[ngClass]="{'active': isHovered}"></span>
        <span Class="shootingstar"[ngClass]="{'active': isHovered}"></span>
        <span Class="shootingstar"[ngClass]="{'active': isHovered}"></span>
        <span Class="shootingstar"[ngClass]="{'active': isHovered}"></span>
        <span Class="shootingstar"[ngClass]="{'active': isHovered}"></span>
        <span Class="shootingstar"[ngClass]="{'active': isHovered}"></span> 
        
        <div [ngClass]="{'container':'true'}"> 

            <!-- .........1 First Card.............  -->
            
            <div [ngClass]="{'box':'true'}"(mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
                <div ngClass="poster">
                <img src="../../../assets/pictures/4k Wallpapers download 2023.jpg" alt="">
                </div>
                <div ngClass="details">
                    <div ngClass="title0">
                        <span>Junior Web Developer</span>
                    </div>
                    <p>Directed by Pierre-marie</p>
                    <span>[icon] [icon] [icon]</span>
                    <p><span ngClass="subtitle passion">Passion</span>&nbsp;&nbsp;<span ngClass="subtitle hobbies">Hobbies</span></p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, quis maiores, vel quos deleniti dolor optio debitis iste sit delectus impedit, alias cum atque explicabo aspernatur labore ut ex aliquam?</p>
                    <div ngClass="divh4"><span>Pictures</span></div>
                    <div ngClass="pics">
                        <ul>
                            <li><img src="../../../assets/pictures/pxfuel (2).jpg" alt=""></li>
                            <li><img src="../../../assets/pictures/pxfuel (3).jpg" alt=""></li>
                            <li><img src="../../../assets/pictures/pxfuel.jpg" alt=""></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- .........2 Second Card.............  -->
            
            <div [ngClass]="{'box':'true'}"(mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
                <div ngClass="poster">
                <img src="../../../assets/pictures/4k Wallpapers download 2023.jpg" alt="">
                </div>
                <div ngClass="details">
                    <div ngClass="title0">
                        <span>Junior Web Developer</span>
                    </div>
                    <p>Directed by Pierre-marie</p>
                    <span>[icon] [icon] [icon]</span>
                    <p><span ngClass="subtitle">Passion</span>&nbsp;&nbsp;<span ngClass="subtitle">Hobbies</span></p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, quis maiores, vel quos deleniti dolor optio debitis iste sit delectus impedit, alias cum atque explicabo aspernatur labore ut ex aliquam?</p>
                    <div ngClass="divh4"><span>Pictures</span></div>
                    <div ngClass="pics">
                        <ul>
                            <li><img src="../../../assets/pictures/pxfuel (2).jpg" alt=""></li>
                            <li><img src="../../../assets/pictures/pxfuel (3).jpg" alt=""></li>
                            <li><img src="../../../assets/pictures/pxfuel.jpg" alt=""></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- .........3 Third Card.............  -->
            
            <div [ngClass]="{'box':'true'}"(mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
                <div ngClass="poster">
                <img src="../../../assets/pictures/4k Wallpapers download 2023.jpg" alt="">
                </div>
                <div ngClass="details">
                    <div ngClass="title0">
                        <span>Junior Web Developer</span>
                    </div>
                    <p>Directed by Pierre-marie</p>
                    <span>[icon] [icon] [icon]</span>
                    <p><span ngClass="subtitle">Passion</span>&nbsp;&nbsp;<span ngClass="subtitle">Hobbies</span></p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, quis maiores, vel quos deleniti dolor optio debitis iste sit delectus impedit, alias cum atque explicabo aspernatur labore ut ex aliquam?</p>
                    <div ngClass="divh4"><span>Pictures</span></div>
                    <div ngClass="pics">
                        <ul>
                            <li><img src="../../../assets/pictures/pxfuel (2).jpg" alt=""></li>
                            <li><img src="../../../assets/pictures/pxfuel (3).jpg" alt=""></li>
                            <li><img src="../../../assets/pictures/pxfuel.jpg" alt=""></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>