<section id="section1">
    <div [ngClass]="{'title':'true'}">
        <h2>Section 1. What about me ?</h2>
    </div>
    <div [ngClass]="{'container':'true'}">

        <!-- .........1  First Card.............  -->
        
        <div [ngClass]="{'box':'true'}">
            <div class="poster">
            <img src="../../../assets/pictures/4k Wallpapers download 2023.jpg" alt="">
            </div>
            <div class="details">
                <div class="title0">
                    <h1>Title Webjunior </h1>
                </div>
                <p>Directed by Pierre-marie</p>
                <span>[icon] [icon] [icon]</span>
                <p><span class="subtitle">Passion</span>&nbsp;&nbsp;<span class="subtitle">Hobbies</span></p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, quis maiores, vel quos deleniti dolor optio debitis iste sit delectus impedit, alias cum atque explicabo aspernatur labore ut ex aliquam?</p>
                <h4>Pictures</h4>
                <div class="pics">
                    <ul>
                        <li><img src="../../../assets/pictures/pxfuel (2).jpg" alt=""></li>
                        <li><img src="../../../assets/pictures/pxfuel (3).jpg" alt=""></li>
                        <li><img src="../../../assets/pictures/pxfuel.jpg" alt=""></li>
                    </ul>
                </div>
            </div>
            <!-- <h3>{{i|titlecase}}</h3> -->
            <!-- <div [ngClass]="{'text':'true'}">
            
            </div>> -->
        </div>

        <!-- .........2 Second Card.............  -->

        <div [ngClass]="{'box':'true'}">
            <div class="poster">
            <img src="../../../assets/pictures/4k Wallpapers download 2023.jpg" alt="">
            </div>
            <div class="details">
                <div class="title0">
                    <h1>Title Webjunior </h1>
                </div>
                <p>Directed by Pierre-marie</p>
                <span>[icon] [icon] [icon]</span>
                <p><span class="subtitle">Passion</span>&nbsp;&nbsp;<span class="subtitle">Hobbies</span></p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, quis maiores, vel quos deleniti dolor optio debitis iste sit delectus impedit, alias cum atque explicabo aspernatur labore ut ex aliquam?</p>
                <h4>Pictures</h4>
                <div class="pics">
                    <ul>
                        <li><img src="../../../assets/pictures/pxfuel (2).jpg" alt=""></li>
                        <li><img src="../../../assets/pictures/pxfuel (3).jpg" alt=""></li>
                        <li><img src="../../../assets/pictures/pxfuel.jpg" alt=""></li>
                    </ul>
                </div>
            </div>
            <!-- <h3>{{i|titlecase}}</h3> -->
            <!-- <div [ngClass]="{'text':'true'}">
            
            </div>> -->
        </div>

        <!-- .........3 Third Card.............  -->

        <div [ngClass]="{'box':'true'}">
            <div class="poster">
            <img src="../../../assets/pictures/4k Wallpapers download 2023.jpg" alt="">
            </div>
            <div class="details">
                <div class="title0">
                    <h1>Title Webjunior </h1>
                </div>
                <p>Directed by Pierre-marie</p>
                <span>[icon] [icon] [icon]</span>
                <p><span class="subtitle">Passion</span>&nbsp;&nbsp;<span class="subtitle">Hobbies</span></p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, quis maiores, vel quos deleniti dolor optio debitis iste sit delectus impedit, alias cum atque explicabo aspernatur labore ut ex aliquam?</p>
                <h4>Pictures</h4>
                <div class="pics">
                    <ul>
                        <li><img src="../../../assets/pictures/pxfuel (2).jpg" alt=""></li>
                        <li><img src="../../../assets/pictures/pxfuel (3).jpg" alt=""></li>
                        <li><img src="../../../assets/pictures/pxfuel.jpg" alt=""></li>
                    </ul>
                </div>
            </div>
            <!-- <h3>{{i|titlecase}}</h3> -->
            <!-- <div [ngClass]="{'text':'true'}">
            
            </div>> -->
        </div>
    </div>
</section>