@font-face {
    font-family: 'Aesthetic_Romance';
    
    src: url('../../../assets/Font-family/Aesthetic_Romance/Aesthetic_Romance.ttf') format('truetype');

    
    /* Add more formats if necessary */
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'STIXTwoText-VariableFont_wght';

    src: url('../../../assets/Font-family/STIXTwoText-VariableFont_wght.ttf') format('truetype');
  }


  
  $pointer-events: visible;
  $h1: 3rem;
  $h2: 2rem;
  $h3: 1.8rem;
  $h4: 1.5rem;
  $h5: 1.2rem;
  $h6: 1rem;
  $p: 1.2rem;
  $color:azure;
  $pcolor: rgb(230, 231, 233);

  :is(h1, h2, h3, h4, h5, h6) {
    font-family: 'STIXTwoText-VariableFont_wght', sans-serif;
    color: $color;
}

*{
text-decoration: none;
}


section{
    position: relative;
    display:flex;
    width: 100%;
    height: 100vh;

    box-sizing: border-box;
    flex-direction: column;
    
    margin: 0;
    padding: 0;

    top: 0;
    left: 0;
    
    background: linear-gradient(120deg,#000000,#0056ab,#000000);
    box-shadow: 0px -6px 1rem rgba( #013162,1);

    
}



.title{
    position: relative;
    display: flex;
    width: 100%;
    height: 10vh;

    box-sizing: border-box;
    justify-content: center;
    align-items: center;

    

    box-shadow: 0px 6px 1rem rgba( #013162,1);
    
}

.title h2{
    color: rgb(230, 231, 233);
    font-size: $h4;
}

.container{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;

    box-sizing: border-box;

    justify-content: center;
    align-items: center;
    flex-direction: row;
    
    top: 0%;
    left: 0%;

    background: #0000003f;


}

.blur{
    position: absolute;
    width: 100%;
    height: 5vh;

    box-sizing: border-box;

    top: 0;
    left: 0;

    backdrop-filter: blur(20px);
    filter: contrast(100%);
    box-shadow: 0px 8px 20px #7807da ;

    z-index: 100;
}


    // ---------------box card-------------------

.box{
    position: relative;
    display: flex;
    width: 20%;
    height: 58vh;

    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    top: 0;
    margin-inline: 2%;
    
    // background-image:url("../../../assets/pictures/4k-Wallpapers-download-2023.avif"),
    //                  url("../../../assets/pictures/4k-Wallpapers-download-2023.webp"),
    //                  url("../../../assets/pictures/4k-2023.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    overflow: hidden;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);

    border: 2px solid #7807da;
    border-radius: 20px;
    transition: all 0.4s ease-out;
}

.box .poster{
    position: absolute;
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    
    top: 0;
    left: 0;
    
    overflow: hidden;
    z-index: 20;

}

.box .poster::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    
    bottom: -180px;
    background: linear-gradient(0deg,#0056ab 50%,transparent);
    transition: 0.5s;
    z-index: 25;
}
.box:hover{

    box-shadow: 0px 0px 30px #7807da ;
    transition: 0.53s ease-in-out;
}

.box:hover .bgfilter{
    opacity: 0.4;
    transition: opacity 0.5s ease-in-out;
}


.box:hover .poster::before{
    bottom: 0px;
}

.box .poster img{

    width:105%;
    height: 105%;
    
    object-fit:cover;
    object-position:center;
    aspect-ratio: 1.25/1.9999;
    
    transition: 0.5s;

}

.box:hover .poster img{
    transform: translateY(-50px);
    filter: blur(5px);
}


.details{
    position: absolute;
    display: flex;
    width: 78%;
    height: 97%;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    bottom: -68%;
    left: 0;
    right: 0;
    
    padding-inline: 11%;
    padding-top: 113%;
    padding-bottom: 2%;
    
    color: $color;
    border-top: #000000 3px solid;
    transition: 0.5s;
    
    z-index: 30;
    
}


//------------ absolute mix-blend-mode bgackground  1 card-----------------------

.onoff{
    position: absolute;
    width: 100%;
    height: 100%;

    box-sizing: border-box;

    z-index: 29;

}

.allsubposter{
    position: relative;
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    
    bottom: 0;
    left: 0;
    
    background: radial-gradient(rgb(236, 112, 3) 50%,#ff9d00 100%,#fff);
    overflow: hidden;
    z-index: 28;
}

.subposter1{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../../../assets/pictures/Splash-PNG.png');
    background-position: center;
    background-size: cover;
    
}

.subposter1::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    background: url('../../../assets/pictures/Demon\ Slayer\ wallpaper\ by\ icekingcold\ -\ Download\ on\ ZEDGE™\ _\ c653.jfif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    mix-blend-mode: screen;
}
//------------ absolute mix-blend-mode bgackground  2 card-----------------------

.allsubposter2{
    position: relative;
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    
    bottom: 0;
    left: 0;
    
    background: radial-gradient(rgb(82, 18, 220) 50%,#000000 100%);
    overflow: hidden;
    z-index: 28;
}

.subposter2{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../../../assets/pictures/Paint-Splatter-Transparent.png');
    background-position: top right 60%;
    background-size: cover;
    
}

.subposter2::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    background: url('../../../assets/pictures/pxfuel\ \(5\).jpg');
    background-size:contain;
    background-position: center;
    mix-blend-mode: screen;
    
}

//------------ absolute mix-blend-mode bgackground  3 card-----------------------

.allsubposter3{
    position: relative;
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    
    bottom: 0;
    left: 0;
    
    // background: radial-gradient(rgb(82, 18, 220) 50%,#000000 100%);
    overflow: hidden;
    z-index: 28;
}

.subposter3{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../../../assets/pictures/Paint-Splatter-Transparent.png');
    background-position: center;
    background-size: cover;
    
}

.subposter3::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    background: url('../../../assets/pictures/4k-2023.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    mix-blend-mode: screen;
}

.bgfilter{
    position: absolute;
    width: 100%;
    height: 100%;

    box-sizing: border-box;

    background: #000000c5;

    opacity: 0;
    z-index: 30;
    transition: 0.8s ease-in-out ;

}

// -----------------------End mix-blend-mode-----------------------


.div1{
    width: 100%;
    height: auto;

    box-sizing: border-box;
    
    top: 0;
    left: 0;

    margin-block: 3%;
    padding: 0%;

    font-size: $h4;
    color: $color;
    font-weight: 600;

}

.div1 h2{
    margin: 0;
    line-height: 95%;
    text-shadow: #575757 0px 0px 2px;
}




.div2{
    display: flex;
    position: relative;
    width: 100%;
    height: auto;

    box-sizing: border-box;
    
    justify-content: space-between;
    align-items: center;

    top: 0;
    left: 0;
    padding: 0%;
    margin-block: 2%;

}

.div2 h5{
    display: flex;
    width: auto;
    height: auto;

    box-sizing: border-box;

    justify-content: center;
    align-items: center;

    margin: 0;
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 3%;
    
    font-size: $h6;

    letter-spacing: 1px;
    
}

.passion{
    width: auto;
    height: auto;
    letter-spacing: 1px;
    background: radial-gradient(red 20%,rgb(223, 134, 1) ) ;
}

.hobbies{
    width: auto;
    height: auto;
    letter-spacing: 1px;
    background: radial-gradient(blue ,rgb(12, 78, 245) 95% ) ;
}


.div3{
    position: relative;
    display: flex;
    width: 100%;
    height: auto;

    box-sizing: border-box;

    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    top: 0;
    left: 0;

    margin-block: 2%;

    backdrop-filter: blur(10px);
    
    background: rgba(0, 0, 0, 0.201);
    
    box-shadow: 0px 0px 6px black;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.207);

}

.div3 p{
    font-family: 'Aesthetic_Romance',sans-serif;
    color: #e7e7e7;
    font-size: $p;
    line-height: 1em;
    letter-spacing: 2px;
    margin-bottom: 1%;

    margin-left: 2%;
    padding-inline-start: 1%;
    padding-block: 0%;
    
    text-shadow: #000000 0px 0px 1px;
    
    word-break:keep-all;

}

.details:hover{
    bottom: 0px;
}

.subtitle{
    display: flex;
    position: relative;

    box-sizing: border-box;
    justify-content: center;
    align-items: center;

    padding-inline: 2%;
    padding-block: 2%;

    margin: 0;
 
    border-radius: 5px;
}


.div4{
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    
    box-sizing: border-box;

    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    top: 0%;
    left: 0;
    margin-block: 2%;

}


.div4 .divul{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    
    left: 0;
    top: 0;
    
    margin: 0%;
    padding:0;
    
    list-style-type: none;
    
} 

// #box1{


// }

// #box2{


// }

// #box3{


// }


.image-item{
    width: 55px;
    height: 55px;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;

    border-radius: 50%/50%;
    // border: $color 2px solid;
    outline-offset: 2px ;
    transition: 0.5s ease-in-out;
    
}

.image-item:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px cornflowerblue;
    outline: 3px solid cornflowerblue;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}


.image-item:nth-child(1){
    background-image: url("../../../assets/pictures/1686229731953.JPG");
}

.image-item:nth-child(2){
    background-image: url("../../../assets/pictures/pxfuel.jpg");
}
.image-item:nth-child(3){
    background-image: url("../../../assets/pictures/anime-naruto-pain_naruto-469665.jpeg");
    
}


// ..........Background Stars Animation.................

.scene {
    position: absolute;
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;

    background: linear-gradient(#111425,#0056ab);
    // background-attachment: fixed;
    overflow: hidden;
    
    border-radius: 0%;
    
    z-index: 0.9;
  }
  
  .scene i {
    position: absolute;
    
    background-color: rgba(255, 255, 255, 0.83);
    border-radius: 50%/50%;
    animation: animate linear infinite;
}


// ..........Background Shootingstars Animation.................

.shootingstar.active{
    position: absolute;
    width: 4px;
    height: 4px;

    top: 0%;
    left: 50%;

    background: white;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
    0 0 0 8px rgba(255, 255, 255, 0.1),
    0 0 20px rgba(255, 255, 255, 1);
    animation: animation 3s linear infinite;

    z-index: 0.8;
}

.shootingstar::before{

    content: '';
    position: absolute;
    top: 50%;
    left: 150%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg,#fff,transparent);
}

// ----------------each shootingstars------------------------

.shootingstar:nth-child(1){

    top: 0;
    right: 0;
    left: initial;
    animation-delay: 0;
    animation-duration: 1s;
}

.shootingstar:nth-child(2){

    top: 0;
    right: 80px;
    left: initial;
    animation-delay: 0.2s;
    animation-duration: 3s;
}

.shootingstar:nth-child(3){

    top: 80px;
    right: 0px;
    left: initial;
    animation-delay: 0.4s;
    animation-duration: 2s;
}

.shootingstar:nth-child(4){

    top: 0px;
    right: 180px;
    left: initial;
    animation-delay: 0.6s;
    animation-duration: 1.5s;
}

.shootingstar:nth-child(5){

    top: 0px;
    right: 400px;
    left: initial;
    animation-delay: 0.8s;
    animation-duration: 2.5s;
}

.shootingstar:nth-child(6){

    top: 0px;
    right: 600px;
    left: initial;
    animation-delay: 1s;
    animation-duration: 3s;
}

.shootingstar:nth-child(7){

    top: 300px;
    right: 0px;
    left: initial;
    animation-delay: 1.2s;
    animation-duration: 1.75s;
}

.shootingstar:nth-child(8){

    top: 0px;
    right: 700px;
    left: initial;
    animation-delay: 1.4s;
    animation-duration: 1.25s;
}

.shootingstar:nth-child(9){

    top: 0px;
    right: 1000px;
    left: initial;
    animation-delay: 0.75s;
    animation-duration: 2.25s;
}

.shootingstar:nth-child(10){

    top: 0px;
    right: 450px;
    left: initial;
    animation-delay: 2.75s;
    animation-duration: 1.75s;
}


// ------------stars animation-------------
  
  @keyframes animate {
    0%{
        opacity: 0;
        transform: translateY(0);
    }
    10%,90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateY(-100px);
    }
    
  }

  
//   ------------shooting stars animation----------------

  @keyframes animation {
    0%{
        
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    
    }
    70%{

        opacity: 1;
        
    }
    100%{
        
        transform: rotate(315deg) translateX(-1000px);
        opacity: 0;

    }
    
  }
  


  // -------------------Media Queries---------------------



/* For Phone View */
@media screen and (max-width: 320px){
   


}

/* For small screens */
@media screen and (min-width: 321px) and (max-width: 576px) {
    .container{
        flex-wrap: wrap;
        width: 100%; /* Adjust the width and margin as needed */
        margin: 0;
    }

    .box{
        width: 70%;
        height: 50%;
    }

}

/* For medium screens */
@media screen and (min-width: 577px) and (max-width: 768px) {
  

}

/* For tablets or medium size laptops */
@media screen and (min-width: 769px) and (max-width: 992px) {
    


}

/* For larger laptops and desktops */
@media screen and (min-width: 993px) and (max-width: 1200px) {
    .box{
        height: 55vh;
    }

    .content{
        margin-top: 0%;
        background: #0e0e0e;
    }

}


/* For larger Desktop monitors */
@media screen and (min-width: 1201px) and (max-width: 1560px) {
    .box{
        height: 62vh;
    }

    .content{
        margin-top: 0%;
    
    }

}