<section id="section1">
    <div [ngClass]="{'title':'true'}">
        <h2>Section 1. Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h2>
    </div>
    <div class="blurcontainer"></div>
    <div [ngClass]="{'container':'true'}">
        <div [ngClass]="{'box':'true'}" *ngFor="let element of elements;let i;">
            <h3>{{i|titlecase}}</h3>
            <!-- <div class="image"> -->
            <img src="../../../assets/sky-1683016246880-3708.jpg" alt="">
            <!-- </div> -->
            <div [ngClass]="{'text':'true'}">
                <h3>Lorem ipsum dolor</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, expedita! Et commodi, pariatur facere consectetur, reiciendis.</p>
            </div>
        </div>
    </div>
</section>