section{
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    // border: #000 3px dotted;
    background: linear-gradient(120deg,#000000,#0056ab,#000000);
    // box-shadow: rgba( #000,0.5) 0px 10px 1rem;
    box-shadow: 0px -6px 1rem rgba( #013162,1);
    z-index: 50;
}

.title{
    color: rgb(230, 231, 233);
    width: auto;
    min-height: 3%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgba(#0d85f5,0.4);
    opacity: 0;
    
}

.blurcontainer{
    display: flex;
    position: absolute;
    top: 30%;
    // filter: blur(10px);
    width: 46%;
    height: 32vh;
    // background-image: url("../../../assets/Anime.jpg");
    background-size: 100% 100%;
    transform: scale(1.8);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 4;
    // border: #000 solid 5px;
}

.container{

    max-width: 85%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 5%;
    padding: auto 0%;
    // border: #fff 3px solid;
    border-radius: 45px;
    // background:rgba(#0d85f5,0.2);
    background-image: url("../../../assets/wp5164538-parallax-anime-4k-wallpapers.jpg");
    
    background-size: cover;
    background-position: center;
    z-index: 6;
    // background-attachment:fixed;

}

.box{
    position: relative;
    width: 320px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2%;
    // border: 3px solid #fff;
    border-radius: 20px;
    // backdrop-filter: blur(20px);
    background:transparent;
    transition: all 0.4s ease-out;    
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.box .poster{
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 450px;
}

.box .poster::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -180px;
    background: linear-gradient(0deg,#0056ab 50%,transparent);
    transition: 0.5s;
    z-index: 10;
}

.box:hover .poster::before{
    bottom: 0px;
}

.box .poster img{

    max-width:105%;
    max-height: 105%;
    object-fit:cover;
    object-position:center;
    aspect-ratio: 1.25/1.9999;
    transition: 0.5s;

}
.box:hover .poster img{
    transform: translateY(-50px);
    filter: blur(5px);
}

//  .box:hover{
//     transition: all 0.3s ease-in-out;
//     scale:125%;
//     margin: 6%;
//  }

