// :host{
*a{
    color: azure;
    text-decoration: none;
}

    header.nav--hidden {

        display: flex;
        position: relative;
        width: 100%;
        height: 7vh;

        box-sizing: border-box;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
        top: 0;
        left: 0;
        margin-left: 0;
        padding: 0;

        background: linear-gradient(to top,#003474,#1656a4,#013162);
        // background: linear-gradient(to top,#003474,#0b3b75,#013162);
        backdrop-filter: blur(10px);

        border-bottom: 3px solid rgba(137, 43, 226, 0.636);
        box-shadow: 0px 6px 1rem #013162;
        transition: 0.6s;
        z-index: 60;
    }
    

        nav{
            position: absolute;
            display: flex;
            width: 98%;
            height: 4vh;

            flex-wrap: wrap;
            justify-content: flex-end;
            align-items: center;

            left: auto;
            border-radius: 100px;

        }

        .logo{
                position: absolute;
                width: auto;
                height: auto;

                font-family: Arial, Helvetica, sans-serif;
                font-weight: bolder;
                font-style: italic;
                font-size: 20px;

                top: auto;
                left: 0;
                margin-left: 3%;
                padding: 0px 5px;

                background: #fbce04;
                border: #01b1c9 3px solid;
                border-radius: 10px;
            }

            ul{
                position: absolute;
                display: flex;
                min-width: 30%;
                min-height: auto;

                justify-content: space-between;
                flex-wrap: wrap;
                flex-basis: auto;
                flex-direction: row;

                padding-right: 3%;
                padding-left: 3%;
                list-style-type: none;

                >li a{

                    width: auto;
                    height: auto;

                    color: azure;
                    font-size: 18px;

                    padding: 0% auto;
                    
                    border-radius: 5px;
                    transition: all 0.5s ;

                }
                
                >li a::after{
                    content: '';
                    display: block;
                    width: 0%;
                    height: 3px;

                    background: #ffffff;
                    border-radius: 3px;
                    
                    transition: width 0.3s ;
                }

                >li a:hover::after{
                    width: 100%;
                    transition: width 0.3s;
                }
            }

            .hamburger {
                display: none;
                cursor: pointer;
              }
              
              .bar {
                display: block;
                width: 25px;
                height: 3px;
                margin: 5px auto;
                transition: all 0.3s ease-in-out;
                background-color: aliceblue;
              }
              
              .hamburger.open .bar:nth-child(2) {
                opacity: 0;
              }
              
              .hamburger.open .bar:nth-child(1) {
                transform: translateY(8px) rotate(45deg);
              }
              
              .hamburger.open .bar:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
              }
              


    /* For Tablet View */
    @media (max-width: 768px) {
        .hamburger {
          position: relative;
          display: block;
          box-sizing: border-box;
      
          right: 20px;
          justify-content: flex-end;
          align-items: center;
        }
      
        #nav-menu {
          display: flex;
          position: fixed;
          width: 100%;
          height: auto;
          box-sizing: border-box;
          width: auto;
          height: auto;
          left: -100%;
          top: 70px;
          gap: 0;
          flex-direction: column;
          background-color: aqua;
          color: #03be19;
          transition: left 0.3s ease-in-out;
        }
      
        .hamburger.open ~ #nav-menu {
          left: 0;
        }
      
        #nav-item {
          margin: 16px 0px;
        }
      }