section{
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;

    background: linear-gradient(120deg,#000000,#0056ab,#000000);
    flex-direction: column;

}

.title{
    display: flex;
    position: relative;
    width: 100%;
    height: 11%;

    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #d41394;
}

.container {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;

    top: 0;
    left: 0;
    flex-direction: row;
    background: #d10d0d;

}

.form{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #1d1d1d;
    // background: linear-gradient(120deg,#000000,#0056ab,#000000);
    background: #0bae68;
    backdrop-filter: blur(10px);

}


.img{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 60vh;
    border: 3px solid black;
    overflow: hidden;
}

// .slider-image {
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//     transition: opacity 0.3s ease-in-out; /* Add a transition effect for smooth image transitions */
//   }

// .img img{
//     width: 100%;
// }

.name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.labeltext{
    margin-top: 5%;
    margin-bottom: 5%;
}

.feedback{
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
}

button{
    margin-top: 5%;
    width: 80px;
    height: auto;
}

.box{
    display: flex;
}

.slider {
    position: relative;
    width: 50%;
    height: 400px;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .slide img {
    
    width: 100%;
    height: 100%;
  }
  
  