<section>
  <div class="form">
      <h1>FeedBack </h1>

      <form>
              <h1> How do you rate the Overall experience ? </h1>

                  <div class="name">
                      <input type="text" name="name" id="name" placeholder="Name" required>
                      <fieldset>
                          <legend>here , rate my portfolio</legend>
                      
                          <div class="box">
                            <input type="radio" id="bad" name="drone" value="bad"
                                   checked>
                            <label for="bad">So much to improve</label>
                          </div>
                      
                          <div class="box">
                            <input type="radio" id="average" name="drone" value="average">
                            <label for="average">Average</label>
                          </div>
                      
                          <div class="box">
                            <input type="radio" id="good" name="drone" value="good">
                            <label for="good">Good</label>
                          </div>
                      </fieldset>
                  </div>

                  <div class="feedback">
                      <label for="w3review" class="labeltext">Please,share your thought!</label>

                      <textarea id="w3review" name="w3review" rows="15" cols="50">
                      At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies.
                      </textarea>
                      <button type="submit" name="sending" id="send">Submit</button>
                  </div>
      </form>


      <i data-eva="camera-outline"></i> rzerzezerrezrezrez
      dfdsfsdfs
    <i data-eva="arrow-circle-down-outline"></i>
     
  </div>

  <!-- <div class="img">
    <img *ngFor="let image of images" class="slider-image" [src]="image" alt="Slider Image">
  </div>
</section> -->
<div class="slider">
  <div class="slides" [style.transform]="'translateX(' + (-currentIndex * 100) + '%)'">
    <div class="slide" *ngFor="let image of images; let i = index">
      <img [src]="image" alt="Slide Image">
    </div>
  </div>
</div>
