<section id="section2">
    <div class="title"><h2>Section 2. Works !</h2></div>
    
    <div [ngClass]="{'container':true}">

        <div [ngClass]="{'text':true}">
            <h2>Title...</h2>
            <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae perspiciatis impedit nostrum minima cupiditate repudiandae sit beatae officia quas, voluptatem deleniti iusto assumenda voluptatum quae eaque possimus. Harum, sapiente possimus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima inventore perspiciatis unde repellat sit adipisci dolorem vitae pariatur ipsum. Vel repellendus iure labore deserunt eveniet in sunt neque hic at.</p>
            <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
        </div>
        <!-- <div ngClass="pics">
            <picture>
                <source srcset="../../../assets/pictures/4k Wallpapers download 2023.avif" type="image/avif"/>
                <source srcset="../../../assets/pictures/4k Wallpapers download 2023.webp" type="image/webp"/>
                <img src="../../../assets/pictures/4k Wallpapers download 2023.jpg" alt="Guy listening music" width="400px" loading="lazy"/>
                
            </picture>


            <img src="../../../assets/pictures/pxfuel.jpg" width="200px" alt="kakashi">
            <img srcset="../../../assets/pictures/1686229907254.JPG 1.5x , 1686255952442.JPG 1.5x 900w" alt="black and white pic">
        </div> -->
    </div>
    <details>
        <summary>i ate 15 scones in one day</summary>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, magni et architecto dolorum dolore optio soluta maiores asperiores animi eos ex fugit voluptates cumque cupiditate eligendi quis nihil mollitia quo!</p>
    </details>
    <button id="launchDialog">Where is the Dialog ?</button>
<p id="formResult"></p>
<dialog id="dialogEle">
<form method="dialog">
  <h1>How about this? A native Dialog.</h1>
  <p>So, only thing left to do is dismiss me.</p>
  <button value="Dismissed!">Dismiss Dialog</button>
</form>
</dialog>
<div class="bg1"></div>
<br>
<div class="bg2"></div>
<br>
<div class="bg3"></div>
<br>
<div class="bg4"></div>
<br>
<div class="bg5"></div>
<br>
<div class="bg6"></div>
<br>
<div class="bg7"></div>
<br>
<div class="bg8"></div>
<br>
<div class="bg9"></div>
<br>
</section>