:host{
    >section{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        // margin-top: 80%;
        box-sizing: border-box;
        width: 100%;
        height: auto;
        left: 0;
        background: linear-gradient(to bottom,#084382,#000000);
        // border: #fff 3px dotted;
        >.title{
            margin-bottom: 2%;
            background: transparent;
        }

        >.container{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 85%;
            height: 70vh;
            background: #c709d1b8;
            border: 3px solid #543708;
            border-radius: 45px;
        

            >.image{
                object-fit: contain;
                width: 50%;
                height: 85%;
                margin: 0% 3%;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #732b57;
                border: 3px solid cyan;
                background-image: url("../../../assets/japan-1683016256821-2662.jpg");
                background-position: center;
                background-size: cover;
                border-radius: 10px;

            }

            >.text{
                width: 35%;
                height: 85%;
                text-align: center;
                padding: 0% 3%;
                margin-right: 3%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background: #6586ba;
                border: maroon 3px solid;
                border-radius: 10px;
            }
            >.text h2{
                padding-bottom: 3%;
            }
            >.text h5{
                padding-top: 3%;
            }

            >.closed{
                position: absolute;
                width: 10vh;
                height: 10vh;
                background: #eb0000e9;
                display: none;
                cursor: pointer;
            }

            >.open{
                position: absolute;
                width: 10vh;
                height: 10vh;
                background: #0d3688;
                opacity: 0.5;
                display: none;
                cursor: pointer;
            }

            .active{
                display: block;
            }
        }
    }
}