:host{
    >section{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        // margin-top: 80%;
        box-sizing: border-box;
        width: 100%;
        height: auto;
        left: 0;
        background:#000;
        // background: linear-gradient(45deg,#0a0a0b,#000,#fff);
        // border: #fff 3px dotted;
        >.title{
            margin-bottom: 2%;
            background: transparent;
        }

        >.container{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 85%;
            height: 70vh;
            // background: #000;
            // border: 3px solid #543708;
            border-radius: 45px;

            >.circle{
                position: relative;
                width: 600px;
                height: 600px;
                filter: url("#wavy") blur(1px);
            }

            >.circle::before{
                content: "";
                position: absolute;
                top: 100px;
                left: 100px;
                bottom: 100px;
                right: 100px;
                border: 20px solid #fff;
                border-radius: 50%;
                box-shadow: 0 0 50px  rgb(255, 4, 4),
                            inset 0 0 50px rgb(255, 4, 4);
                -webkit-box-reflect: below 10px linear-gradient(transparent,transparent,#0002);
                animation: animate 5s linear infinite;
            }
            >.circle::after{
                content: "";
                position: absolute;
                top: 100px;
                left: 100px;
                bottom: 100px;
                right: 100px;
                border: 20px solid #fff;
                border-radius: 50%;
                box-shadow: 0 0 10px #fff,
                            inset 0 0 20px #fff;
                
            }

            >.circle:nth-child(2):before{
                animation-delay: -2.5s;
            }

            @keyframes animate {
                0%{
                    box-shadow: 0 0 50px #0f0,
                            inset 0 0 50px #0f0;
                            filter: hue-rotate(0deg);
                    }
                20%{
                    box-shadow: 0 0 60px #0f0,
                            inset 0 0 60px #0f0;

                    }
                40%{
                    box-shadow: 0 0 40px #0f0,
                            inset 0 0 40px #0f0;

                    }
                60%{
                    box-shadow: 0 0 80px #0f0,
                            inset 0 0 80px #0f0;

                    }
                80%{
                    box-shadow: 0 0 100px #0f0,
                            inset 0 0 100px #0f0;

                    }
                100%{
                            box-shadow: 0 0 50px #0f0,
                            inset 0 0 50px #0f0;
                            filter: hue-rotate(360deg);
                }
                
            }
            svg{
                width: 0;
                height: 0;
            }

            >.image{
                object-fit: contain;
                width: 50%;
                height: 85%;
                margin: 0% 3%;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #000;
                border: 3px solid cyan;
                background-image: url("../../../assets/japan-1683016256821-2662.jpg");
                background-position: center;
                background-size: cover;
                border-radius: 10px;

            }

            >.text{
                width: 35%;
                height: 85%;
                text-align: center;
                padding: 0% 3%;
                margin-right: 3%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background: #6586ba;
                border: maroon 3px solid;
                border-radius: 10px;
            }
            >.text h2{
                padding-bottom: 3%;
            }
            >.text h5{
                padding-top: 3%;
            }

            >.closed{
                position: absolute;
                width: 10vh;
                height: 10vh;
                background: #eb0000e9;
                display: none;
                cursor: pointer;
            }

            >.open{
                position: absolute;
                width: 10vh;
                height: 10vh;
                background: #0d3688;
                opacity: 0.5;
                display: none;
                cursor: pointer;
            }

            .active{
                display: block;
            }
        }
    }
}