<section id="section2"(mouseenter)="isActive = true" (mouseleave)="isActive = false">
    <div class="title"><h2>Section 2. Works !</h2></div>

    
    <div class="video-container">
      <video #videoPlayer controls>
        <source src="../../../assets/pictures/►Mahoutsukai-no-Yome-「-AMV-」-Beautiful-Creatures♫.webm" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
    
    <div class="volume-control">
      <input type="range" min="0" max="1" step="0.1" [(ngModel)]="volume" (input)="updateVolume()">
    </div>
    
    <div class="container2">
      <div class="box">
        <span style="--i:1;"><img src="../../../assets/pictures/1686229731953.JPG" alt=""></span>
        <span style="--i:2;"><img src="../../../assets/pictures/1686229731953.JPG" alt=""></span>
        <span style="--i:3;"><img src="../../../assets/pictures/1686229731953.JPG" alt=""></span>
        <span style="--i:4;"><img src="../../../assets/pictures/1686229731953.JPG" alt=""></span>
        <span style="--i:5;"><img src="../../../assets/pictures/1686229731953.JPG" alt=""></span>
        <span style="--i:6;"><img src="../../../assets/pictures/1686229731953.JPG" alt=""></span>
        <span style="--i:7;"><img src="../../../assets/pictures/1686229731953.JPG" alt=""></span>
        <span style="--i:8;"><img src="../../../assets/pictures/1686229731953.JPG" alt=""></span>
      </div>
    </div>
    
    <div class="button-container">
      <button (click)="toggleDiv('div1')">Toggle Div 1</button>
      <button (click)="toggleDiv('div2')">Toggle Div 2</button>
    </div>
    
    <div class="sliding-div1" [@slideAnimation]="divStates['div1']"></div>
    <div class="sliding-div2" [@slideAnimation]="divStates['div2']"></div>
    

    <div>
        <button *ngFor="let button of buttons; let i = index" (click)="showDiv(i)">{{ button }}</button>
      </div>
      
      <div *ngFor="let divVisible of divVisibility; let i = index"
     [ngClass]="{
       'slide-transition': divVisible,
       'div-style-blue': divVisible && i === 0,
       'div-style-green': divVisible && i === 1,
       'div-style-pink': divVisible && i === 2,
       'div-style-gold': divVisible && i === 3
     }">
  <div *ngIf="divVisible">Div {{ i + 1 }} is visible</div>
</div>

      
      

        <!-- <div ngClass="pics">
            <picture>
                <source srcset="../../../assets/pictures/4k Wallpapers download 2023.avif" type="image/avif"/>
                <source srcset="../../../assets/pictures/4k Wallpapers download 2023.webp" type="image/webp"/>
                <img src="../../../assets/pictures/4k Wallpapers download 2023.jpg" alt="Guy listening music" width="400px" loading="lazy"/>
                
            </picture>


            <img src="../../../assets/pictures/pxfuel.jpg" width="200px" alt="kakashi">
            <img srcset="../../../assets/pictures/1686229907254.JPG 1.5x , 1686255952442.JPG 1.5x 900w" alt="black and white pic">
        </div> -->
    <details>
        <summary>i ate 15 scones in one day</summary>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, magni et architecto dolorum dolore optio soluta maiores asperiores animi eos ex fugit voluptates cumque cupiditate eligendi quis nihil mollitia quo!</p>
    </details>
    <button id="launchDialog">Where is the Dialog ?</button>
<p id="formResult"></p>
<dialog id="dialogEle">
<form method="dialog">
  <h1>How about this? A native Dialog.</h1>
  <p>So, only thing left to do is dismiss me.</p>
  <button value="Dismissed!">Dismiss Dialog</button>
</form>
</dialog>
<div class="bg1"></div>
<br>
<div class="bg2"></div>
<br>
<div class="bg3"></div>
<br>
<div class="bg4"></div>
<br>
<div class="bg5"></div>
<br>
<div class="bg6"></div>
<br>
<div class="bg7"></div>
<br>
<div class="bg8"></div>
<br>
<div class="bg9"></div>
<br>

<div class="gallery">
            
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
</div>

<br>
<div class="hover-container">
    <div class="hover-trigger" (mouseenter)="isActive = true" (mouseleave)="isActive = false">Hover me</div>
    <div class="hidden-content" *ngIf="isActive">I appear on hover</div>
  </div>
  <button (click)="toggleActive()">Toggle Hidden Content</button>
  

  <div class="test"></div>
  