<section>
    <div class="form">
        <h1>Hire me </h1>
        <form>
            <table>
                <tr>
                    <th colspan="2">Feed Back</th>
                </tr>

                <tr>
                    <td>Name</td>
                    <td><input type="text" name="name" id="name" required></td>
                </tr>

                <tr>
                    <td colspan="2"><label for="w3review"></label>

                        <textarea id="w3review" name="w3review" rows="15" cols="50">
                        At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies.
                        </textarea>
                    </td> 
                </tr>

                <tr>
                    <button type="submit" name="sending">Sending</button>
                </tr>
            </table>
        </form>
    </div>

    <div class="img">
        <img src="https://www.w3schools.com/w3images/avatar2.png" alt="Avatar" style="width:100%">
    </div>
    
</section>