
body{
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;

    box-sizing: border-box;
    flex-direction: column;

    left: 0;
    top: 0;
    padding: 0;
    margin: 0;

    overflow: hidden;  
    scroll-behavior: smooth;
}


// ---------------------All Sections Included------------------------


  .container{
    display: flex;
    width: 100%;
    height: auto;

    box-sizing: border-box;
    justify-content: center;

    flex-direction: column;
    
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;

    overflow-y:scroll;
    // scroll-snap-type: y mandatory;
    // height: 90vh; 
  }

  // -----------------widthhhhhh scrollbar transparent----------------
  
  .container::-webkit-scrollbar {
    width: 0.1rem; /* Adjust as needed */
    background-color: transparent;
  }
  
  .container::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  
  .container::-webkit-scrollbar-track {
    background-color: transparent;
  }
