<!-- 
  /* :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } */ 
-->
<div class="container">
      <app-menu ></app-menu>

      <app-home></app-home>
      <app-section1></app-section1>
      <!-- <app-section2></app-section2> -->
      <app-section3></app-section3>
      <app-hireme></app-hireme>
      <app-footer></app-footer>
      
</div>
<!-- Example 01
<nav ngxHideOnScroll [ngClass]="'nav--hidden'">
  <h2>Navbar</h2>
</nav>

<h1 style="margin-top: 100px;">
  <a href="https://www.npmjs.com/package/ngx-hide-on-scroll">NgxHideOnScroll</a>
  - Hide an element on scroll down or up in Angular.
</h1>

<h2>
  Scroll down to hide the navbar and the fixed footer. Scroll up to show them
  again.
</h2>

<p *ngFor="let item of getArray(200)">
  Scroll down to hide the navbar and the fixed footer. Scroll up to show them
  again.
</p>

 Example 02
<div
  class="fixed-footer"
  ngxHideOnScroll

>
  <h2>Fixed footer, with transition on hide/show.</h2>
</div> -->
