<!-- 
  /* :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } */ 
-->
<div class="container">
      <app-menu class="section9"></app-menu>
      <app-home class="section9"></app-home>
      <app-section1 class="section9"></app-section1>
      <!-- <app-section2 class="section9"></app-section2> -->
      <app-section3 class="section9"></app-section3>
      <app-hireme class="section9"></app-hireme>
      <app-footer class="section9"></app-footer>
      
</div>
