<!-- 
  /* :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } */ 
-->
<div class="body">
  <div class="container">

        <app-menu ngx-hide-on-scroll></app-menu>

        <app-home></app-home>

        <app-section1></app-section1>
        
        <!-- <app-section2></app-section2> -->
        
        <app-section3></app-section3>
        
        <!-- <app-section4></app-section4> -->

        <app-section5></app-section5>

        <app-footer></app-footer>
        
  </div>
</div>
