<section >
    
    <div ngClass="container" id="home">
        <div class="fullintro">
            <div ngClass="intro">
                
                <div ngClass="header1">

                    <div ngClass="names">
                        <h2 ngClass="intro1">Hello, I am</h2>
                        <h2 ngClass="intro2"> Pierre-Marie Tshilolo</h2>
                    </div>

                    <div ngClass="profil1">
                    </div>

                </div>
                
                <div ngClass="main1 text">
                        <p> <span ngClass="firstletter">A</span>s an aspiring Junior Web Developer, I am passionate about Front-End Coding and Designing.</p>
                        <p>Take your time to visit my portfolio !</p>
                </div>
            </div>
        
            <div ngClass="hireme">
                <a href="#footer">
                    <button ><p>Hire Me!</p></button>
                </a>
            </div>
            
        </div>

        <div ngClass="blur">
                <!-- <img src="../../assets/pictures/decor-2483158.png" alt=""> -->
                <div ngClass="profil">
                    <div ngClass="text2">
                        <h4> Hey there!</h4>
                        <h4> Welcome to my world...</h4>
                        <p id="warning"> Work in process <fa-icon [icon]="warning"></fa-icon> </p>
                    </div>
                    <div class="pic1">
                        <picture>
                            <source srcset="../../assets/pictures/hey.avif" type="image/avif" />
                            <source srcset="../../assets/pictures/hey.webp" type="image/webp" />
                            <img src="../../assets/pictures/hey.jpg" alt="me" width="30px" loading="lazy">
                        </picture>
                    </div>
                </div>
        </div>
    </div>
</section>