
.container{
    display: flex;
    position: relative;
    width: 100%;
    height: 86vh;
    box-sizing: border-box;
    flex-direction: column;

    margin: 0;
    padding: 0;
    top: 0;
    left: 0;

    background: linear-gradient(to bottom,rgba(6, 48, 116, 0.668),#455ab4b8,rgba(5, 26, 58, 0.668));
    box-shadow: 0px 6px 1rem rgba( #013162,1);
    z-index: 1;
}

.image{
    position: absolute;
    width:100% ;
    height: 100%;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-image: url("../../assets/pictures/wp5164538-parallax-anime-4k-wallpapers.jpg");
    background-attachment:fixed;
    background-position: center right; 
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}

.intro{
    display: inline-block;
    position: relative;
    width: 99.1%;
    height: 97.5%;
    box-sizing: border-box;

    top:1.15%;   
    left: 0.4%; 
    right: 0.4%;
    padding: 4%;

    text-align: start;
    word-break:keep-all;

    background:linear-gradient(45deg,rgb(176, 132, 22),rgb(128, 13, 215),rgb(130, 11, 146)) ;
    border: 3px solid rgb(75, 0, 129);
    border-radius: 10px;
    z-index: 5;
}

.glow{
    display: flex;
    position: relative;
    width: 30.6%;
    height: 37.1%;
    
    top: 31.8%;
    margin-inline: 4.82%;  
    margin-top: 0%;

    background: linear-gradient(45deg,#c4e91f,#06ca1a,#e409f8,#c00986,#013162,#8f06ca,#06a6ca,#015cf8,#c7ca06);
    background-size: 400%;
    border-radius: 10px;
    animation: animate 20s infinite linear;
    z-index: 4;
}


.glow::after{
    filter: blur(10px);
    // opacity: 0.5;
}

.intro1{
    position: relative;
    color: azure;
    font-weight: bold;
    font-size: 35px;
    padding-bottom: 0.1%;
    
}

.intro2{
    position: relative;
    color:azure ;
    font-weight: bolder;
    font-size: 40px;
}

.text{
    
    position: relative;
    color: #ececed;
}

.glow1{
    display: flex;
    position: relative;
    width: 5.1%;
    height: 4.9%;
    
    top: 33.8%;
    left: 0;
    margin-inline: 4.82%;  
    margin-top: 0%;
    
    color: #ececed;
    background: linear-gradient(45deg,#c4e91f,#06ca1a,#e409f8,#c00986,#013162,#8f06ca,#06a6ca,#015cf8,#c7ca06);
    background-size: 400%;
    border-radius: 5px;
    animation: animate 20s infinite linear;
    z-index: 50;
}

button{
    position: absolute;
    width: 94%;
    height: 85%;
    top: 0%;
    left: 0;
    margin: 3%;
    color: #ececed;
    font-weight: 700;
    background: linear-gradient(-15deg,#015cf8,#c00986,#8f06ca);
    background-size: 400%;
    border-radius: 5px;
    border: 3px solid rgb(75, 0, 129);
    
}

button:hover{
    color: #ececed;
    background: #bf08eddb;
    box-shadow: 0px 0px 10px #b510e8;
}


@keyframes animate {
        0%{
            background-position: 0 0;
        }
    
        50%{
            background-position: 100% 0;
        }
    
        100%{
            background-position: 0 0;
        }
}

/* For Tablet View */
@media screen and (min-width: 768px)
    and (max-width: 1024px) {
        .glow{
            width: 38.7%;
            height: 40.6%;
        }

        .intro{
            width: 37.8%;
            height: 38.72%;
            
        }

        .intro1{
            color:darkred;
        }
    }