 @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100&family=Alegreya:ital,wght@0,400;0,500;1,600&family=Lobster+Two&family=Roboto+Serif:opsz,wght@8..144,100&display=swap');



    $pointer-events : visible;
    $h1:2.5rem;
    $h2:2rem;
    $h3:1.5rem;
    $p:1rem;
    
*{
    font-family: 'Roboto Serif', serif;
    text-decoration: none;
}


.firstletter{
    font-size: 20px;
    font-weight:lighter;
}

section{
    position: relative;
    display: flex;
    width: 100%;
    height: 90vh;

    box-sizing: border-box;

    top: 0;
    left: 0;
    margin: 0;
    padding: 0;

    pointer-events: none;
    
}

.container{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;

    box-sizing: border-box;

    flex-direction: column;
    justify-content: space-between;

    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    
    background-image: url('../../assets/pictures/wp5164538-parallax-anime-4k-wallpapers.avif'),
    url('../../assets/pictures/wp5164538-parallax-anime-4k-wallpapers.jpg'),
    url('../../assets/pictures/wp5164538-parallax-anime-4k-wallpapers.webp');
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    // border: solid 4px rgba(137, 43, 226, 0.636);
    // background: linear-gradient(to bottom,rgba(6, 48, 116, 0.668),#455ab4b8,rgba(5, 26, 58, 0.668));
    box-shadow: 0px 6px 1rem rgba( #013162,1);
    
}

.fullintro{
    display: flex;
    position: relative;
    width: 100%;
    height: 65%;

    box-sizing: border-box;

    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    top: 0%;
    left: 0%;
    margin: 0%;
    padding: 0%;

  

}


// .....................Introduction's card.......................................

.header1{
    display: flex;
    position: relative;
    width: 100%;
    height: auto;

    box-sizing: border-box;

    flex-direction: row;
    justify-content: space-between;

    top: 0;
    left: 0;

    padding-block: 2%;
    
}

.names{
    display: flex;
    position: relative;
    width: 100%;
    height: auto;

    box-sizing: border-box;

    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    top: 0;
    left: 0;

}

.profil1{
    position: relative;
    display: flex;
    width: 100px;
    height: 100px;

    box-sizing: border-box;


    background-image: url('../../assets/pictures/1686229731953.JPG');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    
    border-radius: 20% 20%/20% 0%;
    border: 3px solid #06a6ca;
}

.main1{
    display: flex;
    position: relative;
    width: 100%;
    height: auto;

    box-sizing: border-box;

    flex-direction: column;

    color: #ececed;

}

.intro{
    position: relative;
    display: flex;
    width: 30%;
    height: auto;

    box-sizing: border-box;
    flex-direction: column;

    top: 0%;
    left: 5%;
    padding-inline: 1%;
    padding-block: 1%;


    background: linear-gradient(45deg,#c4e91f,#06ca1a,#e409f8,#c00986,#013162,#8f06ca,#06a6ca,#015cf8,#c7ca06);
    background-size: 400%;
    border-radius: 10px;
    animation: animate 20s infinite linear alternate;
    
}

.intro::before{
    content: '';
    display: flex;
    position: absolute;
    width: 98.3%;
    height: 97.6%;
    min-width: fit-content;
    min-height: fit-content;

    box-sizing: border-box;
    flex-direction: column;

    left: 0.85%;
    top: 1.25%;
    
    text-align: start;
    word-break:keep-all;

    background:linear-gradient(45deg,rgb(176, 132, 22),rgb(128, 13, 215),rgb(130, 11, 146)) ;
    border: 3px solid rgb(75, 0, 129);
    border-radius: 10px;

}

.intro1{
    position: relative;
    display: flex;
    width: 100%;
    height: auto;

    box-sizing: border-box;

    color: azure;

    font-weight: bold;
    font-size: $h3;

}

.intro2{
    position: relative;
    display: flex;
    width: 100%;
    height: auto;

    box-sizing: border-box;

    top: 0;
    left: 0;

    color:azure ;

    font-weight: bolder;
    font-size: $h3;
}


.text p{
    font-size: $p;
    line-height: 25px;
    margin-top: 0%;
    background: linear-gradient(45deg,transparent 10%,rgba(80, 1, 149, 0.732) ,transparent 80%),
                linear-gradient(-45deg,transparent 10%,rgb(122, 1, 214),transparent 10%);
    border-radius: 1px;
    
}

.text h3{
    font-size: $h3;
    position: relative;
    margin: 0;

}

// ..........button animated..........
.hireme{
    display: flex;
    position: relative;
    width: 8%;
    height: auto;

    box-sizing: border-box;

    top: 5%;
    left: 5%;

    pointer-events: $pointer-events;

}

.hireme a{
    width: 100%;
    height: auto;
}

button {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    
    box-sizing: border-box;
    min-width: fit-content;
    min-height: fit-content;

    cursor: pointer;

    justify-content: center;
    align-items: center;
    
    top: 0%;
    right: 0%;

    // color: whitesmoke;
    color: transparent;
    font-size: $p;   
    font-weight: 900; 
    
    // background:linear-gradient(45deg,#06a6ca,#045ee5,#e409f8) ;
    background:linear-gradient(45deg,rgb(225, 0, 255) ,#00d0ff 100%) ;
    background-clip: text;
    background-size: 400%;

    border: 3px solid rgb(75, 0, 129);
    border-radius: 5px;
    
    transition: color 0.7s ease-in-out, background-position 1s ease-in-out, box-shadow 0.5s ease-in-out;
    animation: buttontextanimation 20s infinite linear alternate;
    
}

button:hover,
button:focus{
    color: rgb(204, 207, 1);
    // background-image: linear-gradient(45deg,red,blue);
    background-position: right;
    box-shadow: 0px 0px 10px #b510e8;
    
}


.blur{

    position: relative;
    display: flex;
    width: 100%;
    height: 35%;
    
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;
    
    background: none;
    border-top: 3px solid rgba(137, 43, 226, 0.636);
    box-shadow: 0px -6px 1rem rgba( #013162,1);
    backdrop-filter: blur(5px);
    
}

.profil{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    
    box-sizing: border-box;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    
    top: 0;
    right: 0;

}

.pic1{
    position: relative;
    display: flex;
    width: 15%;
    height: 100%;
    
    box-sizing: border-box;

    top: 0;
    left: 0;

    // border-top: #013162 4px solid;
    border-left: #013162 2px solid;
    // border-bottom: #013162 4px solid;
    border-radius: 50% 0% 0% 50%;

    transform: translateX(100%);
    animation: slideInPic 2s 5s forwards;

   
  
}

.profil img{
    position: relative;
    object-fit: cover;
    
    width: 100%;
    height: 100%;
    
    top: 0;
    left: 0;
    
    border-radius: 50% 0% 0% 50%;
}

.text2{
    position: relative;
    display: flex;
    width: auto;
    height: 100%;

    box-sizing: border-box;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    top: 0;
    left: 0;

    color: rgb(177, 203, 226);
    font-size: $h3;
    font-weight: 700;



}

.text2 span{
    box-sizing: border-box;
    padding-bottom: 5%;
    animation: slideInText 1s linear forwards;
    transform: translateX(500%);
}

.text2 span:first-child {
    animation-delay: 7s;
  }

  
.text2 span:nth-child(2) {
      animation-delay: 9.5s;
    }
    
.text2 span:nth-child(3){
    
    position: relative;
    width: auto;
    height: auto;

    top: 7%;
    padding: 5%;

    color: aliceblue;

    font-size: $p;
    font-style: italic;
    font-weight: bolder;

    background:linear-gradient(45deg,rgb(128, 13, 215),rgb(130, 11, 146),rgb(176, 132, 22)) ;
    animation-delay: 11s;
    border-radius: 10px;
    transition: 0s ease-in-out;
    
    }


  @keyframes slideInText {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

// ---------------------Profil pic animation-----------------
  
  @keyframes slideInPic {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

// ---------------------Intro text animation-----------------

@keyframes animate {
        0%{
            background-position: 0 0;
        }

        50%{
            background-position: 100% 0;
        }

        100%{
            background-position: 0 0;
        }
}

// ---------------------button color animation-----------------

@keyframes buttontextanimation {
    0%{
        background-position: 0 0;
    }

    50%{
        background-position: 100% 0;
    }

    100%{
        background-position: 0 0;
    }
}







/* For Phone View */
@media screen and (max-width: 320px){
    .intro{
        width: 90%;
        height: auto;
    
        padding-inline: 4%;
        padding-block: 2%;
    }
    .intro::before{
        width: 98.5%;
        left: 0.78%;
    }
    
    .profil1{
        height: 80px;
        
    }
    
    
    .hireme{
        width: auto;
        top: 2%;
    }
    
    .blur{
        width: 100%;
        height: 30%;
    }
    
    .pic1{

        width: 25%;
    
    }


}

/* For small screens */
@media screen and (min-width: 321px) and (max-width: 576px) {
    section{
        
        
    }
 
    .intro{
        width: 90%;
        height: auto;
    
        padding-inline: 4%;
        padding-block: 2%;
    }
    .intro::before{
        width: 98.5%;
        left: 0.78%;
    }
    
    .profil1{
        height: 80px;
        
    }
    
    
    .hireme{
        width: auto;
        top: 2%;
    }
    
    .blur{
        width: 100%;
        height: 28%;
    }
    
    .pic1{

        width: 25%;
    
    }

}

/* For medium screens */
@media screen and (min-width: 577px) and (max-width: 768px) {
    .intro{
        width: 40%;
        height: 80%;
    
        padding-inline: 2%;
        padding-block: 1%;
    }

    .intro::before{
        width: 98.5%;
        left: 0.78%;
    }

    .profil1{
        height: 80px;
        margin-left: 3%;
    }

    .hireme{
        width: auto;
        top: 2%;
    }
}

/* For tablets or medium size laptops */
@media screen and (min-width: 769px) and (max-width: 992px) {
    

    .intro{
        width: 40%;
        height: auto;
    
        padding-inline: 2%;
        padding-block: 1%;
    }

    .intro::before{
        width: 98.5%;
        left: 0.78%;
    }

    .profil1{
        height: 80px;
        margin-left: 3%;
    }


    .hireme{
        width: auto;
        top: 2%;
    }
}

/* For larger laptops and desktops */
@media screen and (min-width: 993px) and (max-width: 1200px) {
    

    
    .intro{
        width: 35%;
        height: auto;
    
        padding-inline: 2%;
        padding-block: 1%;
    }

    .intro::before{
        width: 98.5%;
        left: 0.78%;
    }

    .profil1{
        height: 80px;
    }

    .hireme{
        width: auto;
        top: 3%;
    }
    

}


/* For larger Desktop monitors */
@media screen and (min-width: 1201px) and (max-width: 1400px) {
   

    .intro{
        width: 35%;
        height: auto;
    
        padding-inline: 2%;
        padding-block: 1%;
    }

    .intro::before{
        width: 98.5%;
        left: 0.78%;
    }

    .profil1{
        height: 100px;
        margin-bottom: 2%;
        
    }

    
    .hireme{
        width: auto;
        top: 3%;
    }

}