<section>
    <div class="image"></div>
    
    <div class="container" id="home">
            <div  class="intro">
                
                <span class="intro1">Hello, I am</span>
                <span class="intro2"> Pierre-Marie Tshilolo</span>
                <span class="text"><p>I am a Junior Web Developer Front-End, adipisicing elit. Magnam commodi excepturi id, voluptate debitis veniam pariatur maxime ducimus aliquid quod vero facere, iusto earum numquam adipisci quas eos mollitia. Exercitationem!</p>
                </span>
            </div>
        
        <div class="buttonglow">
            <button>Hire Me!</button>
        </div>
        <!-- <img src="assets/Anime-4k-Wallpaper.jpg" alt=""> -->
    </div>
</section>