@font-face {
    font-family: 'Aesthetic_Romance';

    src: url('../../assets/Font-family/Aesthetic_Romance/Aesthetic_Romance.ttf') format('truetype');


    /* Add more formats if necessary */
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'STIXTwoText-VariableFont_wght';

    src: url('../../assets/Font-family/STIXTwoText-VariableFont_wght.ttf') format('truetype');
  }

//Design background Shortcut------- 

$bg:rgb(23, 63, 98);
$animationcolor:#0ef;
$designcolor:rgba(18, 129, 255, 0.882);
$designblur: 10px;
$designborder-radius: 15px;

// -------end--------------
// *****************************************************clamp
  $pointer-events: visible;
  $h1: clamp(1.7rem,3vw,3rem);
  $h2: clamp(1.6rem,3vw,2.7rem);
  $h3: clamp(1.5rem,3vw,1.8rem);
  $h4: 1.5rem;
  $h5: 1.2rem;
  $h6: 1rem;
  $p: 1rem;
  $color:azure;
  $pcolor:rgb(231, 231, 231);

*{
    text-decoration: none;
}


:is(h1, h2, h3, h4, h5, h6) {
    font-family: 'STIXTwoText-VariableFont_wght', sans-serif;
    color: $color;
    margin: 0;
    padding: 0;

}


p{
    font-family: 'Aesthetic_Romance';
    letter-spacing: 2px;
    word-break: keep-all;
    color: $color;
    font-size: $p;

}


.firstletter{
    font-family: 'STIXTwoText-VariableFont_wght', sans-serif;
    font-size: 20px;
    font-weight:lighter;

}

// app-designlayout{
//     position: absolute;
//     width: 100%;
//     height: 100%;

//     bottom: 0%;
//     right: 0%;
// }

section{
    position: relative;
    display: grid;
    width: 100%;
    height: 100vh;


    box-sizing: border-box;
    grid-template-columns: repeat(1,1fr);

    justify-content: center;
    align-items: center;
    flex-direction: column;


    top: 0;
    left: 0;
    margin: 0;
    padding: 0;

    // background: radial-gradient(30rem circle at bottom,yellow,rgb(102, 0, 255),rgb(1, 98, 188));
    // background: conic-gradient(at center,rgb(119, 128, 255) 20%,rgb(79, 51, 132),rgb(27, 2, 80));
    
    
}

.container{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    
    box-sizing: border-box;
    
    // grid-template-columns: repeat(2,1fr);
    // grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    top: 0;
    left: 0;
    margin: 0%;
    padding: 0%;
  
    background: $bg;
    
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 81%);


    
}


// *****************************************************clamp

.design{
    position: relative;
    width: clamp(0%,40vw,600px);
    height: clamp(0%,85vh,600px);
    // height: 600px;

    top: 0%;
    right: 0%;

    margin: 0 auto;
    padding: 0;
    
    // background: lightblue;
    // backdrop-filter: blur(3px);

    // border:2px solid cornflowerblue;
    z-index: 20;
    order: 2;
    animation: diamond-in-hesitate 5s ease-in-out ;
}

.triangle1{
    width: 30%;
    height: 20%;

    background: linear-gradient(-45deg,lightgreen ,cornflowerblue);

    clip-path: polygon(44% 0, 0 59%, 100% 100%);
    z-index: 25;
}

.triangle2{
    position: absolute;
    width: 50%;
    height: 30%;

    top: 0;
    left: 50px;

    background: linear-gradient(-45deg,lightgreen ,purple);
    // backdrop-filter: blur(100%);

    clip-path: polygon(44% 0, 0 59%, 100% 100%);
    transform: rotate(-40deg);

    opacity: 0.8;
    z-index: 30;
}

.triangle3{
    position: absolute;
    width: 40%;
    height: 28%;
    
    bottom: 0;
    right: 0;
    
    background: chocolate;
    
    clip-path: polygon(44% 0, 0 59%, 100% 100%);
    transform: rotate(-40deg);

    z-index: 31;
}

.triangle4{
    position: absolute;
    width: 25%;
    height: 18%;

    bottom: 0;
    right: 0;

    background: rgb(111, 210, 30);

    clip-path: polygon(44% 0, 0 59%, 100% 100%);

    opacity: 0.8;
    z-index: 32;
}

.triangle5{
    position: absolute;
    width: 25%;
    height: 18%;

    top: 0;
    right: 0%;

    background: rgb(30, 210, 177);
    clip-path: polygon(44% 0, 0 59%, 100% 100%);

    transform: rotate(5deg);
    z-index: 32;
}
.triangle6{
    position: absolute;
    width: 18%;
    height: 30%;

    bottom: 10%;
    left: 0;

    background: conic-gradient(at bottom,cornflowerblue,rgb(31, 180, 31));

    clip-path: polygon(44% 0, 0 59%, 100% 100%);
    transform: rotate(240deg);

    opacity: 0.8;
    z-index: 32;
}
.triangle7{
    position: absolute;
    width: 25%;
    height: 30%;

    top: 50%;
    left: 5%;

    background: rgb(210, 30, 30);

    clip-path: polygon(44% 0, 0 59%, 100% 100%);
    
    z-index: 31;
}
.triangle8{
    position: absolute;
    width: 25%;
    height: 30%;

    top: 70%;
    left: 30%;

    background: rgba(180, 30, 210, 0.552);
    // clip-path: polygon(44% 0, 0 59%, 100% 100%);
    clip-path: polygon(100% 16%, 0% 100%, 91% 65%);


    transform: rotate(100deg);
    z-index: 51;
}

.triangle9{
    position: absolute;
    width: 40%;
    height: 35%;

    top: 40%;
    left: 90%;

    background: rgb(42, 30, 210);
    clip-path: polygon(72% 55%, 0% 100%, 100% 100%);


    transform: rotate(100deg);
    z-index: 51;

}

.pic{
    position: absolute;
    width: 60%;
    height: 80%;

    box-sizing: border-box;

    top: 10%;
    left: 25%;
    
    // background:url('../../assets/pictures/IMG_20231126_141242453.jpg');
    background:url('../../assets/pictures/IMG_20231126_141242453.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    // transform: rotate(-33.6deg) skewX(30deg);

    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    // clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    // clip-path: polygon(0 0, 0% 100%, 40% 100%, 29% 0, 100% 0, 100% 34%, 0 30%, 70% 100%, 100% 66%);

    // transform: scale(1.5);

    z-index: 50;
}

.borderpic{
    position: absolute;
    width: 61%;
    height: 81%;

    box-sizing: border-box;
    
    top: 9.5%;
    left: 24.55%;

    background: rgb(183, 110, 0);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

    z-index: 49;
}


.background{
    display: flex;
    position: absolute;
    width: calc(100% - 0px);
    height: calc(100%);
    
    box-sizing: border-box;
    
    justify-content: center;
    align-items: center;
    
    margin: 0;
    padding: 0;
    left: 0%;
    top: 0;
    
    // background-image: 
    // url('../../assets/pictures/landscape-1683016223552-1032.jpg');
    // url('../../assets/pictures/sky-1683016246880-3708.jpg');
    // url('../../assets/pictures/wp5164538-parallax-anime-4k-wallpapers.webp');
    // background-position: center ;
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-attachment: fixed;
    // background: #000;
    
}
 

.fullintro{
    display: flex;
    position: relative;
    width: 37.6vw;
    height: auto;
    
    box-sizing: border-box;
    
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    top: 0%;
    left: 2%;
    margin: 0%;
    padding: 2%;
    
    // border: 2px solid gold;
    // background: #000000b7;
    // background: #8b4cbc;
    // backdrop-filter: blur(3px);
    
    animation: slideright 1s ease forwards;
    z-index: 5;
    order: 1;

}

// -----------------------font-size h1,h2--------------------------------

.fullintro h1{
    font-size: $h1;
    
}

.fullintro h3{
    font-size: $h3;
    
}


// -------------------------------------------------------------------------
.texts{
    display: flex;
    width: auto;
    height: auto;
    
    box-sizing: border-box;
    
    flex-direction: row;
    flex-wrap: wrap;
    // border: #0ef 2px solid;
}

.listtext{
    
    display: flex;
    box-sizing: border-box;
    width: auto;
    height: 33.5px;
    
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;

    line-height: 36px;
    overflow: hidden;
    
    // border: 2px solid grey;
    
}

.listtext li{
    position: relative;
    top: 0;
    color: $animationcolor;
    list-style: none;
    text-shadow: 0 0 3px $animationcolor;
    animation: slide 18s steps(3) infinite;
}

.listtext li span{
    position: relative;
    
}

.listtext li span::before{
    content: '';
    position: absolute;
    width: 400px;
    height: 34px;
    
    left: 0%;
    
    background: $bg;
    // background: linear-gradient(85deg,rgb(119, 128, 255) 20%,rgb(79, 51, 132),rgb(27, 2, 80));
    // backdrop-filter: blur(10px);
    
    border-left: 3px solid $animationcolor;
    
    animation: typing 3s steps(19) infinite alternate;
    
}

// ----------------------------button---------------------------------------
.classbutton{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    
    box-sizing: border-box;
    
    justify-content: space-between;
    align-items: center;
    
    margin-block: 2.5%;
    // top: 5%;
    
    // border: 2px solid cornflowerblue;
    
}
.classbutton a{
    display: flex;
    width: auto;
    height: 5vh;
    
    box-sizing: border-box;
    
    justify-content: center;
    align-items: center;
    
    border-radius: 15px;
    
    box-shadow: 0px 0px 1rem cornflowerblue,
                0px 0px 1.2rem cornflowerblue,
                0px 0px 1.4rem rgb(189, 128, 255),
                0px 0px 1.5rem  rgb(189, 128, 255);
    border: none;
    transition: 0.5s ease;
    
}

.classbutton a button{
    display: flex;
    width: 100%;
    height: 100%;
    
    box-sizing: border-box;
    
    justify-content: center;
    align-items: center;
    
    margin: 0;
    
    // background: rgb(119, 128, 255);
    background: none;
    
    border-radius: 15px;
    border: 2px solid rgb(119, 128, 255);
    
    cursor: pointer;
}

.classbutton a button p{
    width: 100%;
    height: auto;
    font-size: 1rem;
    font-weight: 800;
    text-shadow: 0px 0px 3px black;
    // padding-inline: 2%;
    // border: 2px solid rgb(0, 219, 11);
}

.btnhireme {
    background: transparent;
    
}
.btnhireme button p{
    color: $animationcolor;
}


.btndownload button p{
    color: $animationcolor;
}

// --------------------------------------row icons...--------------------------------


// -------------------------hover------------------------------

.classbutton a:hover{
    box-shadow: none;
    
    
}

// .container:hover .bgintro{
    
    //     opacity: 0.8;
    //     transition: opacity 1s ease-in-out;
    // }
    
    
    // ------------------animation---------------------
    
    @keyframes typing { /*typing left to right animation*/
        100%{
            left: 100%;
            margin: 0 -15px 0 15px;
        }
    }
    
    @keyframes slide {
        100%{
            top: -107.5px;
            
        }
    }
    // -----------------------------------------------------
    
    
    
    // ------------------slideright animation---------------------
    
    
    @keyframes slideright {
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}

    // ------------------Diamond Opening animation-----------------

    @keyframes diamond-in-hesitate {
    0%{
        clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);

    }
    50%{
        clip-path: polygon(45% 50%, 50% 25%, 55% 50%, 50% 75%);
        
    }
    100%{
        clip-path: polygon(-50% 50%, 50% -50%, 150% 50%, 50% 150%);
    
    }

    }
    
    [transition-style="in:diamond:hesitate"] {
        animation: 1.5s cubic-bezier(.25, 1, .30, 1) diamond-in-hesitate both;
    }





/* For Phone View */
@media screen and (max-width: 320px){
    .bgintro{
        background: linear-gradient(85deg,rgb(255, 119, 119) 20%,rgb(51, 132, 77),rgb(27, 2, 80));
    }
    
}

/* For small screens */
@media screen and (min-width: 321px) and (max-width: 576px) {
    section{
        height: 130vh;
        width: 100%;

    }

    .container{
        justify-content: center;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,1fr);

        padding-block-start: 0%;
        padding-inline: 0%;
        clip-path:none;
        // border: 3px solid cyan;

    }

    .fullintro{
        display: flex;
        width: 80%;

        align-items: center;
        
        top: 2%;
        left: 10%;

        padding-block: 10%;

        // background: linear-gradient(85deg,rgb(255, 239, 119) 20%,rgb(51, 132, 127),rgb(27, 2, 80));
        order: 2;
        // border: 2px solid plum;
    }

    .texts{
        justify-content: center;
        align-items: center;
    }

    .design{
        width: 400px;
        height: 400px;
        
        top: 11%;
        right: 5%;
        // border: 2px solid yellow;
    
        order: 1;

    }

    .classbutton{
        top: 15%;
        justify-content: space-around;
    }
    
    
}

/* For medium screens */
@media screen and (min-width: 577px) and (max-width: 768px) {
    section{
        height: 130vh;

    }

    .container{
        flex-direction: column;
        padding-block: 10%;
        padding-inline: 5%;
        clip-path:none;

    }

    .fullintro{
        width: 100%;
        align-items: center;
        padding-block: 10%;
        // background: linear-gradient(85deg,rgb(255, 239, 119) 20%,rgb(51, 132, 127),rgb(27, 2, 80));
        order: 2;
    }

    .design{
        width: 450px;
        height: 450px;

        order: 1;

    }

    .classbutton{
        top: 15%;
        justify-content: space-around;
    }
}

/* For tablets or medium size laptops */
@media screen and (min-width: 769px) and (max-width: 992px) {
    .bgintro{
        background: linear-gradient(85deg,rgb(119, 128, 255) 20%,rgb(79, 51, 132),rgb(27, 2, 80));
    }

    
    
    
}

/* For larger laptops and desktops */
@media screen and (min-width: 993px) and (max-width: 1200px) {
    
    .bgintro{
        background: linear-gradient(85deg,rgb(119, 128, 255) 20%,rgb(79, 51, 132),rgb(27, 2, 80));
    }
    
    
}


/* For larger Desktop monitors */
@media screen and (min-width: 1201px) and (max-width: 1400px) {
    
    
    .bgintro{
        background: linear-gradient(85deg,rgb(119, 255, 135) 20%,rgb(78, 132, 51),rgb(80, 64, 2));
    }
    
}

