<section id="section3" ngClass="animated-section">
    <div ngClass="title01">
        <h2>Section 3. Rent Me!</h2>
    </div>
    <div ngClass="container">
        <!-- <section class="animated-section"></section> -->
          
        <div ngClass="menu">
            <ul>
                <li><button class="allbutton" *ngFor="let menuItem of menu" (click)="toggleAnimation(menuItem)" [class.active]="menuItem.state === 'end'">
                    {{ menuItem.name }}
                </button></li>
                <!-- <button *ngFor="let element of menu" (click)="startAnimation(divs[0]);selectButton(element.button)">{{element.name|titlecase}}</button> -->
            </ul>   
        </div>
        <div ngClass="screen">

            <!-- <video controls autoplay [muted]="true" frameborder="0"loop >
                <source src="../../../assets/pictures/AMV _ Beautiful High Quality Anime Scenes(720p).mp4" type="video/mp4" alt="" >
                Your browser does not support the video tag.
            </video> -->
            <!-- <img src="../../../assets/708643.jpg" alt=""> -->
           

            <div *ngFor="let element of donnees" ngClass="fetchdata">
                <h1>{{element.lastName}}</h1>
                
            </div>

            <!-- ......Login page ...animated-div containing the login -->
            
            <div ngClass="login" >
                
                    <h1>Login &nbsp;Account</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id rem qui sunt saepe odit illo sit.</p>
                    <form> 
                        <table>
                            <tr ngClass="tr"> 
                                <input ngClass="email" type="email" name="email" id="email" placeholder="Email" required>
                            </tr>
                        
                            <tr ngClass="tr">
                                <input ngClass="pw" type="password" name="password" id="password" placeholder="Password" required>       
                            </tr>
                        
                            <tr>
                                <div ngClass="connection">
                                    <div ngClass="connectiona">
                                        <input type="checkbox" name="" id="">Stay connected?
                                    </div>

                                    <div ngClass="connectionb">
                                        <a>Forgot Password?</a>
                                    </div>
                                </div>
                            </tr>

                            <tr>
                                <button type="submit" ngClass="btnform">Connect</button>
                            </tr>

                        </table>
                    </form>
                
            </div>
            <!-- end of the animated div login -->



            
                <!-- <div class="home" >
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat nam necessitatibus voluptatem similique praesentium maiores aspernatur adipisci quibusdam, ratione illo quidem debitis vel nihil, temporibus rerum excepturi id autem sapiente! Home</p>
                </div> -->
            
                <div ngClass="city" *ngIf="selectedButton === 'button3'">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt earum esse omnis officiis nobis veniam accusamus provident, voluptatibus ad quibusdam distinctio sit sunt quidem! Magni deleniti commodi molestias eveniet possimus! CITY</p>
                </div>
                <div ngClass="cars" *ngIf="selectedButton === 'button4'">
                
                </div>
        </div>
    </div>
</section>