
section{
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 110vh;
    background: linear-gradient(-45deg,black,rgb(203, 19, 19),#3701b4,rgb(92, 0, 184),rgb(203, 19, 19),black);
    border: 3px solid rgb(38, 38, 38);
    animation: bganimation 20s forwards ease-in;
}



*a{
    text-decoration: none;
    color: whitesmoke;
}

.title{
    background: none;
    color: rgba(235, 235, 235, 0.903);
    -webkit-text-stroke: transparent;
    -webkit-text-fill-color: currentColor;
}

.container{
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    min-width: 100%;
    height: auto;

}

.menu ul{
    // background: #685c5c;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-left: 45%;
        
}

.menu ul li{
    width: auto;
    background: #3a0e0e;
    border-bottom : 3px solid #f48282;
    border-left : 3px solid #f48282;
    border-top : 3px solid #f48282;
    cursor: pointer;
    padding: 5% 35%;
    margin-top: 15%;
    margin-bottom: -5%;
    border-radius: 15px 0px 0px 15px;
    transition:all 1s;
}

.menu ul li:hover{
    background: #d77e02;
    color: #000;
    transition: all 0.5s;
    // box-shadow: 2px 2px 3px rgba(#000000,0.5);
    box-shadow: inset 0px 0px 1px rgba(#000000,0.5);
}

.menu{
    box-sizing: border-box;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    border: 0px solid #000;
    min-width: 17%;
    height: 90.2vh;
    z-index: 6;
    left: 0;
    top: 0s;
    background: linear-gradient(120deg,rgb(92, 0, 184)45deg,rgb(154, 5, 5),#840808,black);
    filter: blur(0px);
    box-shadow: 0px 0px 0px rgba(#840808,0.6);
    opacity: 0.9;
}

.menu2{
    box-sizing: border-box;
    border: 0px solid #000;
    top: 0;
    left: 0;
    min-width: 17% ;
    height: 89.5vh;
    background: linear-gradient(120deg,rgb(92, 0, 184)45deg,rgb(154, 5, 5),#840808,black);
    filter: blur(0px);
    z-index: 7;
    box-shadow: 0px 0px 0px rgba( #840808,0.6);
}

.screen{
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180vh;
    height: 77.5vh;
    top: 0;
    left: 0;
    border: 3px solid #f48282;
    margin: 0%;
    padding: 0%;
    // background-image:url("../../../assets/708643.jpg");
    // background-size: cover;
    // background-position: center;
    border-radius: 37px;
}
.screen img{
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 77vh;
    top: 0;
    border-radius: 35px;
    opacity: 1;
}

.screen video{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: auto;
    border-radius: 35px;
    
}

.screen video::-webkit-media-controls {
    display:none;
}


.login{
    box-sizing: border-box;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0.2%;
    left: 0;
    color: whitesmoke;
    width: 350px;
    height: 76.7vh;
    padding-left: 2%;
    padding-right: 2%;
    margin: 0%;
    background: #4949499f;
    border-radius: 35px 0px 0px 35px;
    transition: transform 3s;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.852);
}
// .hidden{
//     transform: translateX(-360px);
//     transition: transform 2.5s;
//     opacity: 0;
// }

.login h1{
    
    position: absolute;
    top: 5%;
    text-align: center;
    justify-content: center;
    
}

.login p{

    position: absolute ;
    font-size: 15px;
    top: 20%;
    text-align: center;
    justify-content: center;
    margin: 0% 5%;
    
}

.email{
    outline: none;
    // pointer-events: none;
    width: 265px;
    height: 30px;
    background: transparent;
    border: none;
    font-size: 1em;
    transform: translateY(0%);
    transition: 0.5s;
}

// input:focus ~ label,
// input:focus ~ :valid{
//     top: -5px;
// }

.pw{
    outline: none;
    // pointer-events: none;
    width: 265px;
    height: 30px;
    background: transparent;
    border: none;
    font-size: 1em;
}


table{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 25%;
    margin-bottom: 0%;
    // border: #000 3px solid;
    
}

.tr{
    margin-top: 2%;
    margin-bottom: 5%;
    border-bottom: 2px solid #cf7b0c;
    border-radius: 5px;
}

.connection{
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 10%;
    // border: 3px solid #07cd46;
}

.connectiona{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 15px;
    // margin-right: 0%;
    // border: 3px solid #cf7b0c;
   
}

.connectionb{
    margin-left: 0%;
    font-size: 14px;

    // border: 3px solid #cf7b0c;
}

.btnform{
    margin-top: 70%;
    border-radius: 0px;
}

.submenu{
    box-sizing: border-box;
    position: absolute;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 199px;
    background: #fbfbfb20;
    top: 0;
    left: 0;
    border-radius: 14.8% 0% 14.8% 0%;
    // border: 3px solid #f48282;
    border-bottom: 3px solid #f48282;
    border-right: 3px solid #f48282;
    opacity: 0;
}

.submenu ul{
    position: absolute;
    top : 0;
    left: 0;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.submenu ul a li{
    border: #3701b4 2px solid;
    padding: 10% 0%;
    margin-top: 35%;
    margin-bottom: 0%;
    width: auto;

}

.fetchdata{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0%;
    left: 0%;
    color: whitesmoke;
    z-index: 1000;
}

@keyframes bganimation{
    100%{
        filter: hue-rotate(-360deg);
    }
}