<article>
    <div class="subarticle1"></div>
    <div class="subarticle2"><p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates explicabo nulla natus voluptas quia doloremque sequi quod dolorem accusantium dolorum! Vero delectus rem ab in nostrum saepe blanditiis, necessitatibus culpa?</p></div>
    
</article>

<section id="section3" ngClass="animated-section" #sectionElement>
    <div ngClass="title01">
        <h2>Rent Me !</h2>
    </div>
    <div ngClass="container">
        <!-- <section class="animated-section"></section> -->
          
        <div ngClass="menu">
            <!-- <ul>
                <li><button class="allbutton" *ngFor="let menuItem of menu" (click)="toggleAnimation(menuItem)" [class.active]="menuItem.state === 'end'">
                    {{ menuItem.name }}
                </button></li>
                    <button *ngFor="let element of menu" (click)="startAnimation(divs[0]);selectButton(element.button)">{{element.name|titlecase}}</button>
            </ul>
            -->
            <div class="button-container">
                <button (click)="toggleMute()">{{ isMuted ? 'Unmute' : 'Mute' }}&nbsp;<fa-icon [icon]="song" ngClass="iconsong"></fa-icon></button>
                <button (click)="toggleDiv('div1')">Login</button>
                <button (click)="toggleDiv('div2')">register</button>
              </div>
              
              
        </div>

        <div ngClass="screen">

            <video #videoPlayer controls autoplay [muted]="isMuted" frameborder="0" loop>
               
                <!-- MP4 format (a widely supported video format) -->
                <source
                  src="../../../assets/pictures/AMV _ Beautiful High Quality Anime Scenes(720p).mp4"
                  type="video/mp4"
                >
                Your browser does not support the video tag.
              </video>
              
            <!-- <img src="../../../assets/708643.jpg" alt=""> -->

            <div *ngFor="let element of donnees" ngClass="fetchdata">
                <h1>{{element.lastName}}</h1>
                
            </div>

            <!-- ......Login page ...animated-div containing the login -->
            
            <div ngClass="login" [@slideAnimation1]="divStates['div1']" >

                <div class="logincontent">

                    <div class="ldiv1">
                        <h1>Login &nbsp;Account</h1>
                    </div>

                    <div class="ldiv2">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id rem qui sunt saepe odit illo sit.</p>
                    </div>

                    <div class="ldiv3">
                        <form> 
                            <table>
                                <tr>
                                    <div ngClass="tr"> 
                                        <input ngClass="email" type="email" name="email" id="email" placeholder="Email" required><fa-icon [icon]="mail" ngClass="icon"></fa-icon>
                                    </div>
                                </tr>
<br>
                                <tr>
                                    <div ngClass="tr">
                                        <input ngClass="pw" type="password" name="password" id="password" placeholder="Password" required><fa-icon [icon]="password" ngClass="icon"></fa-icon>
                                    </div>
                                </tr>
                        
                                <tr>
                                    <div ngClass="connection">
                                        <div ngClass="connectiona">
                                            <input type="checkbox" name="" id="">
                                            <h5> Stay connected?</h5>
                                        </div>

                                        <div ngClass="connectionb">
                                            <h5><a>Password?</a></h5>
                                        </div>
                                    </div>
                                </tr>

                                <tr>
                                    <button type="submit" ngClass="btnform">Connect</button>
                                </tr>

                            </table>
                        </form>
                    </div>
                </div>
            </div>
            <!-- end of the animated div login -->



            
                <!-- <div class="home" >
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat nam necessitatibus voluptatem similique praesentium maiores aspernatur adipisci quibusdam, ratione illo quidem debitis vel nihil, temporibus rerum excepturi id autem sapiente! Home</p>
                </div> -->
            
                <!-- <div ngClass="city" *ngIf="selectedButton === 'button3'">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt earum esse omnis officiis nobis veniam accusamus provident, voluptatibus ad quibusdam distinctio sit sunt quidem! Magni deleniti commodi molestias eveniet possimus! CITY</p>
                </div>
                <div ngClass="cars" *ngIf="selectedButton === 'button4'">
                
                </div> -->
        </div>

        <div class="library">
            <div class="headtitle"><h1>Video library 1</h1></div>
            <div ngClass="video">
                <div class="smallscreen"></div>
                <div class="description"></div>
            
            </div>

        </div>
    </div>
</section>