@font-face {
    font-family: 'Aesthetic_Romance';
    
    src: url('../../../assets/Font-family/Aesthetic_Romance/Aesthetic_Romance.ttf') format('truetype');

    
    /* Add more formats if necessary */
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'STIXTwoText-VariableFont_wght';

    src: url('../../../assets/Font-family/STIXTwoText-VariableFont_wght.ttf') format('truetype');
  }


  $bg:rgb(23, 63, 98);

  $pointer-events: visible;
  $h1: 3rem;
  $h2: 2rem;
  $h3: 1.8rem;
  $h4: 1.5rem;
  $h5: 1.2rem;
  $h6: 1rem;
  $p: 1.2rem;
  $color:azure;
  $pcolor: rgb(230, 231, 233);

  :is(h1, h2, h3, h4, h5, h6) {
    font-family: 'STIXTwoText-VariableFont_wght', sans-serif;
    color: $color;
}

    *p{
        color: #e7e7e7;
        font-family: 'Aesthetic_Romance',sans-serif;
        font-size: $p;
        
        line-height: 1em;
        letter-spacing: 2px;
        word-break:keep-all;
        
        text-shadow: #000000 0px 0px 1px;
    
    }

article{
    display: grid;
    position: relative;
    width: 100%;
    height: 35vh;
    // background: $bg;
    background: #4b3081;
    // background: url('../../../assets/pictures/landscape-1683016223552-1032.jpg');
    // background: linear-gradient(85deg,rgb(119, 128, 255) 20%,rgb(79, 51, 132),rgb(27, 2, 80));
    backdrop-filter: blur(2px);
    
    grid-template-columns: 1fr 2fr ;
    grid-template-rows: 1fr;
    gap: 0;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    
    
}

.subarticle1{
    position: relative;
    width: 100%;
    height: 100%;
    
    box-sizing: border-box;
    
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    
    
    background: url('../../../assets/pictures/1686255952442.JPG');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    // clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
    // clip-path: polygon(0 0, 100% 0, 100% 100%, 0 81%);
    clip-path: polygon(0 19%, 100% 0, 100% 100%, 0 81%);
    border-image: fill 1 linear-gradient(to right,transparent 60%,#4b3081);
    
}

.subarticle2{
    position: relative;
    display: grid;
    width: 100%;
    height: 100%;
    
    box-sizing: border-box;

    justify-content: center;
    align-items: center;
    
    left: 0;
    top: 0;
    margin: 0;
    padding-left: 5%;
    
    // background: #000;
    background: #4b3081;
    // background: $bg;
    // background: linear-gradient(85deg,rgb(119, 128, 255) 20%,rgb(79, 51, 132),rgb(27, 2, 80));
}

section{
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    
    box-sizing: border-box;
    flex-direction: column;
    
    top: 0;
    left: 0;
    
    background: linear-gradient(-45deg,black,rgb(203, 19, 19),#3701b4,rgb(92, 0, 184),rgb(203, 19, 19),black);
    // clip-path: polygon(67% 0, 100% 0, 100% 100%, 31% 100%);
    // clip-path: polygon(25% 2%, 100% 2%, 100% 75%, 75% 98%, 0 98%, 0 25%);
    // clip-path: polygon(25% 0, 100% 0, 100% 75%, 75% 100%, 0 100%, 0 25%);
    // clip-path: polygon(25% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 25%);

    border: 3px solid rgb(38, 38, 38);
    animation: bganimation 20s forwards ease-in alternate ;
}

// ----------------------- work work hereeeeeeeeee bg animation---------------------------------------------

// .animated-section {

//     background-color: lightgray;
//     transition: background-color 0.5s ease;
//     border: 5px solid #d77e02;
//   }
  
//   .animated-section:hover {
    //     background-color: blue;
//     animation: myAnimation 2s infinite alternate;
//   }

//   @keyframes myAnimation {
//     0% {
//       background-color: blue;
//     }
//     50% {
//       background-color: green;
//     }
//     100% {
//       background-color: blue;
//     }
//   }



// -----------------------hereeeeeeeeee above ---------------------------------------------

*a{
    text-decoration: none;
    color: whitesmoke;
}

*button{
    font-family: 'STIXTwoText-VariableFont_wght';
    font-size: $h6;
    font-weight: bold;

}


.title01{
    display: flex;
    position: relative;
    width: 100%;
    height: 10vh;

    box-sizing: border-box;
    justify-content: center;
    align-items: center;

    top: 0;
    left: 0;

    color: aliceblue;
    box-shadow: 0px 6px 1rem rgba( #013162,1);

    // background: #173378;
    
}



.container{
    position: relative;
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-gap: 10px;

    width: 100%;
    height: 100%;
    
    box-sizing: border-box;
    // flex-direction: row;
    justify-content: center;
    align-items: center;
    
    top: 0%;
    left: 0%;
    margin: 0;
    padding: 0;
    
}

.menu{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    
    box-sizing: border-box;

    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    
    color: whitesmoke;
    
    background: linear-gradient(120deg,rgb(92, 0, 184)45deg,rgb(154, 5, 5),#840808,black);
    filter: blur(0px);
    box-shadow: 0px 0px 0px rgba(#840808,0.6);
    
}

.button-container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;

    box-sizing: border-box;

    justify-content: center;
    align-items: center;
    flex-direction: column;

    // border: 2px solid cornflowerblue;
  }
  
  

.menu button{
    position: relative;
    width: 50%;
    height: 15vh;
    
    box-sizing: border-box;

    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    
    background: #fcfafa;
    border-top : 3px solid #f48282;
    border-left : 3px solid #f48282;
    border-bottom : 3px solid #f48282;
    border-radius: 5px;
    
    transition:all 1s;
}

.menu button:hover{
    color: #000;
    // box-shadow: 2px 2px 3px rgba(#000000,0.5);
    background: #d77e02;
    box-shadow: inset 0px 0px 1px rgba(#000000,0.5);
    
    transition: all 0.5s;
    z-index: 51;
}


.screen{
    position: relative;
    display: flex;
    width: 100%;
    height: 70vh;
    
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
    
    top: 0%;
    left: 0;
    margin: 0% auto;
    padding: 0%;
    // background-image:url("../../../assets/708643.jpg");
    // background-size: cover;
    // background-position: center;
    box-shadow: 0px 0px 8px rgba(rgb(92, 3, 155),1);
    border: 2px solid #f48282;
    border-radius: 20px;
    z-index: 19;
}

.screen img{
    position: absolute;
    width: 100%;
    height: 77vh;
    
    top: 0;
    object-fit: cover;
    border-radius: 35px;
    opacity: 1;
}

.screen video{
    position: absolute;
    width: 100%;
    height: 100%;
    
    top: 0;
    left: 0;

    object-fit: cover;
    border-radius: 20px;
    
    z-index: 22;
}

.screen video::-webkit-media-controls {
    display:none;
}

// ............Page Home..........

.home{
    position: relative;
    display: flex;
    width: 350px;
    height: 100%;
    
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    top: 0;
    left: 0;
    padding-left: 2%;
    padding-right: 2%;
    margin: 0%;
    
    color: whitesmoke;
    background: #0b2fe79f;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.852);
    border-radius: 35px 0px 0px 35px;
    // transition: transform 3s;
    transition: 1s ease-in-out;
}


.allbutton{
    position: relative;
    width: 100%;
    height: auto;
    
    left: 0;
    
    background: #185dff;
    border-bottom : 3px solid #f48282;
}

//.........Page login content.........

.login{
    position: absolute;
    display: flex;
    width: 40%;
    height: 100%;
    
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    transform: translateX(0),translateY(0);

    padding-inline: 3%;
    
    background: linear-gradient(-45deg,rgba(39, 39, 39, 0.4),#1f1c2496,rgba(39, 39, 39, 0.4));
    backdrop-filter: blur(10px);
    border-radius: 20px 0px 0px 20px;
    box-shadow: 1px 0px 1px rgba(56, 56, 56, 0.729);
    
    z-index: 24;
}

.logincontent{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-around;

}

.ldiv1{
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    
    transform: translateY(25%);
    
    // border-radius: 30px;
    // border: 3px solid rgb(29, 132, 223);
}


.ldiv2{
    position: relative;
    display: flex;
    width: 100%;
    height: auto;

    box-sizing: border-box;
    justify-content: center;
    align-items: center;

    transform: translateY(-25%);

    margin: 0;
    padding-inline: 2%;

    // border: 3px solid aliceblue;
}



.ldiv3{
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    
    box-sizing: border-box;
    justify-content: center;
    align-items: center;

    transform: translateY(-30%);
    
    margin: 0%;
    padding-block: 5%;

}

table{
    position: relative;
    display: flex;
    width: 100%;
    height: auto;

    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}


.email{
    position: relative;
    width: 100%;
    height: auto;

    box-sizing: border-box;
    
    top: 0;
    left: 0;

    outline: none;
    font-size: $h5;
    
    background: transparent;
    border: none;
    
    transform: translateY(0%);
    transition: 0.5s;
}

.pw{
    position: relative;
    width: 100%;
    height: auto;

    box-sizing: border-box;
    flex-direction: row;
    outline: none;
    
    top: 0;
    left: 0;
    
    font-size: $h5;
    
    background: transparent;
    border: none;
}

.icon{
    position: absolute;
    left: 90%;
    opacity: 0.3;
}

.tr{
    position: relative;
    display: flex;
    width: 100%;
    height: auto;

    box-sizing: border-box;    
    flex-direction: row;

    top: 0;
    left: 0;

    border-bottom: 2px solid #cf7b0c;
    border-radius: 5px;

    font-family: 'Aesthetic_Romance',sans-serif;
    font-size: $p;
    color: $pcolor;

    line-height: 1em;
    letter-spacing: 2px;
    word-break:keep-all;
    
    text-shadow: #191919 0px 0px 1px;
}

.connection{
    position: relative;
    display: flex;
    width: 100%;
    height: auto;

    box-sizing: border-box;    
    flex-direction: row;

    top: 0;
    left: 0;

    font-family: 'Aesthetic_Romance',sans-serif;
    // font-size: $p;
    color: $pcolor;

    line-height: 1em;
    letter-spacing: 2px;
    word-break:keep-all;
    
    text-shadow: #191919 0px 0px 1px;
    

}

.connectiona{
    position: relative;
    display: flex;
    width: auto;
    height: auto;
    
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
    top: 0;
    left: 0;
     
}

.connectiona h5{
    margin-inline-start: 5%;
}

.connectionb{
    position: relative;
    display: flex;
    width: auto;
    height: auto;
    
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    
    top: 0;
    left: 0;

}

// .connectionb h5{

// }

.btnform{
    position: relative;
    display: flex;
    width: 100%;
    height: auto;

    box-sizing: border-box;
    
    top: 0;
    left: 0;
    
    
    border-radius: 0px;
}


.fetchdata{
    position: relative;
    display: flex;
    width: 100%;
    height: auto;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    top: 0%;
    left: 0%;

    color: whitesmoke;
    z-index: 1000;
}

.library{
    position: relative;
    display: flex;
    width: auto;
    height: 78.5%;

    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    margin-right: 3%;
    backdrop-filter: blur(20px);
    // background: #8c8c8c83;
    background: #822cde83;
    border: 1px solid cornflowerblue;
    border-radius: 20px;
}

.headtitle{
    position: relative;
    display: flex;
    width: 100%;
    height: auto;

    box-sizing: border-box;
    justify-content: center;
    align-items: center;

    backdrop-filter: blur(20px);
    border-radius: 15px 15px 0px 0px;
}

.video{
    position: relative;
    display: grid;
    height: 15vh;
    width: 100%;
   
    grid-gap: 0px;

    grid-template-columns: 0.5fr 1fr;
 
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    
    top: 0%;
    left: 0%;
    margin: 0;
    padding: 0;;

    background: #000;
}

.smallscreen{
    position: relative;
    display: flex;
    height: 80%;
    width: 100%;

    box-sizing: border-box;
    top: 0;
    left: 0;

    margin-inline: 4%;
    margin-block: 2%;

    background: #545454;
    border-radius: 5px;
}

.description{
    position: relative;
    display: flex;
    height: 80%;
    width: 95%;

    box-sizing: border-box;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-inline: 4%;

    background: rgb(141, 139, 139);
    border: 2px solid gold;
}

@keyframes bganimation{
    100%{
        filter: hue-rotate(-360deg);
    }
}


  // -------------------Media Queries---------------------

/* For Phone View */
@media screen and (max-width: 320px){


}

/* For Tablet View */
@media screen and (min-width: 321px) and (max-width: 800px) {
        

}

/* For Desktop */
@media screen and (min-width: 800px) and (max-width: 1600px) {
    
}